<a href="https://colab.research.google.com/github/worldterminator/mess/blob/main/leap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Rationale

For each year, I keep only the matched records from enrollment and assessment (tho score could be NA) files. Yet across different years, I keep the unmatched student IDs.
Then, each student that remains in the sample should have scores in all their enrolled years (NA included), allowing me to identify cohorts based on first year of enrollment and grade levels.

#Attempt with 16-17 data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# File path
file_path = '/content/drive/My Drive/Assessment201617.csv'

# Read the CSV file
data= pd.read_csv(file_path)

# Display the first few rows of the DataFrame
data.head()

,TermName,DistrictName,District_StateID,SchoolName,School_StateID,StudentID,Student_StateID,Subject,Course,GrowthMeasureYN,...,ProjectedProficiencyStudy6,ProjectedProficiencyLevel6,ProjectedProficiencyStudy7,ProjectedProficiencyLevel7,ProjectedProficiencyStudy8,ProjectedProficiencyLevel8,ProjectedProficiencyStudy9,ProjectedProficiencyLevel9,ProjectedProficiencyStudy10,ProjectedProficiencyLevel10
0,Spring 2016-2017,Leap Academy University Charter School,807109,STEM Lower Elementary,NaN,1002,1.591820e+09,Mathematics,Math K-12,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spring 2016-2017,Leap Academy University Charter School,807109,STEM Lower Elementary,NaN,1002,1.591820e+09,Language Arts,Reading,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Spring 2016-2017,Leap Academy University Charter School,807109,STEM Lower Elementary,NaN,1003,7.816959e+09,Mathematics,Math K-12,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Spring 2016-2017,Leap Academy University Charter School,807109,STEM Lower Elementary,NaN,1003,7.816959e+09,Language Arts,Reading,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Spring 2016-2017,Leap Academy University Charter School,807109,STEM Lower Elementary,NaN,1005,6.200882e+09,Mathematics,Math K-12,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

List of column names you want to drop
columns_to_drop = ['column_name4', 'column_name5']

Drop these columns
data.drop(columns=columns_to_drop, inplace=True)

In [3]:
# List of column names you want to keep
columns_to_keep = ['StudentID', 'Student_StateID', 'TestName','TestRITScore','LexileScore']

# Create a new DataFrame with only these columns
score1617= data[columns_to_keep]

score1617.head()

,StudentID,Student_StateID,TestName,TestRITScore,LexileScore
0,1002,1.591820e+09,Growth: Math K-2 CCSS 2010 V2,213,NaN
1,1002,1.591820e+09,Growth: Reading K-2 CCSS 2010,195,511
2,1003,7.816959e+09,Growth: Math K-2 CCSS 2010 V2,196,NaN
3,1003,7.816959e+09,Growth: Reading K-2 CCSS 2010,183,295
4,1005,6.200882e+09,Growth: Math K-2 CCSS 2010 V2,191,NaN

In [4]:
# Set display option to avoid scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
print(score1617)

# if want to convert state ID: map1617['column_name'] = map1617['column_name'].astype(int)

       StudentID  Student_StateID                          TestName  \
0           1002   1591820143.000     Growth: Math K-2 CCSS 2010 V2
1           1002   1591820143.000     Growth: Reading K-2 CCSS 2010
2           1003   7816959131.000     Growth: Math K-2 CCSS 2010 V2
3           1003   7816959131.000     Growth: Reading K-2 CCSS 2010
4           1005   6200882279.000     Growth: Math K-2 CCSS 2010 V2
...          ...              ...                               ...
3066  9982194839              NaN   Growth: Reading 6+ CCSS 2010 V2
3067  9983529412   9983529412.000     Growth: Math 2-5 CCSS 2010 V2
3068  9983529412   9983529412.000  Growth: Reading 2-5 CCSS 2010 V2
3069  9983668608              NaN     Growth: Math 2-5 CCSS 2010 V2
3070  9983668608              NaN  Growth: Reading 2-5 CCSS 2010 V2

      TestRITScore LexileScore
0              213         NaN
1              195         511
2              196         NaN
3              183         295
4              191         NaN
...            ...         ...
3066           183         295
3067           211         NaN
3068           214         853
3069           237         NaN
3070           227        1087

[3071 rows x 5 columns]

Current strategy: join RIT score with enrollment for each year, and then making panels

In [6]:
# File path
file_path = '/content/drive/My Drive/Enrollment201617.csv'

# Read the CSV file
data= pd.read_csv(file_path)

# Display the first few rows of the DataFrame
data.head()

,TermName,DistrictName,District_StateID,SchoolName,School_StateID,StudentID,Student_StateID,StudentDateOfBirth,StudentEthnicGroup,NWEAStandard_EthnicGroup,StudentGender,Grade,NWEAStandard_Grade
0,Spring 2016-2017,Leap Academy University Charter School,807109,STEAM High School,NaN,1018256150,1018256150.000,7/22/2000,Hispanic,Hispanic or Latino,M,11,11
1,Spring 2016-2017,Leap Academy University Charter School,807109,STEAM High School,NaN,1084712619,NaN,12/6/1998,Hispanic,Hispanic or Latino,M,12,12
2,Spring 2016-2017,Leap Academy University Charter School,807109,STEAM High School,NaN,1163227042,NaN,10/31/2000,Hispanic,Hispanic or Latino,F,10,10
3,Spring 2016-2017,Leap Academy University Charter School,807109,STEAM High School,NaN,1183257367,NaN,3/19/1999,Black,Black or African American,M,12,12
4,Spring 2016-2017,Leap Academy University Charter School,807109,STEAM High School,NaN,12272753,6136857128.000,2/29/2000,Hispanic,Hispanic or Latino,F,11,11

In [7]:
# List of column names you want to keep
columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']

# Create a new DataFrame with only these columns
enrollment1617= data[columns_to_keep]

enrollment1617.head()

    StudentID  Student_StateID StudentEthnicGroup StudentGender Grade
0  1018256150   1018256150.000           Hispanic             M    11
1  1084712619              NaN           Hispanic             M    12
2  1163227042              NaN           Hispanic             F    10
3  1183257367              NaN              Black             M    12
4    12272753   6136857128.000           Hispanic             F    11

In [8]:

# Merge on 'StudentID' with an indicator
merged_df = pd.merge(score1617, enrollment1617, on='StudentID', how='inner', indicator=True)

merged16 = merged_df[merged_df['_merge'] == 'both']

merged16.drop(columns=['_merge'], inplace=True)

tried merging on one of 'student id' and 'state id' sperately and combine the merges and hadnle teh duplicate columns, did not work out well bc multiple observations matched to the same id/combination of ids? not sure, but it produced 100,000 entries

In [9]:
print(merged16)

       StudentID  Student_StateID_x                          TestName  \
0           1002     1591820143.000     Growth: Math K-2 CCSS 2010 V2
1           1002     1591820143.000     Growth: Reading K-2 CCSS 2010
2           1003     7816959131.000     Growth: Math K-2 CCSS 2010 V2
3           1003     7816959131.000     Growth: Reading K-2 CCSS 2010
4           1005     6200882279.000     Growth: Math K-2 CCSS 2010 V2
...          ...                ...                               ...
3066  9982194839                NaN   Growth: Reading 6+ CCSS 2010 V2
3067  9983529412     9983529412.000     Growth: Math 2-5 CCSS 2010 V2
3068  9983529412     9983529412.000  Growth: Reading 2-5 CCSS 2010 V2
3069  9983668608                NaN     Growth: Math 2-5 CCSS 2010 V2
3070  9983668608                NaN  Growth: Reading 2-5 CCSS 2010 V2

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              213         NaN     1591820143.000           Hispanic
1              195         511     1591820143.000           Hispanic
2              196         NaN     7816959131.000              Black
3              183         295     7816959131.000              Black
4              191         NaN     6200882279.000           Hispanic
...            ...         ...                ...                ...
3066           183         295                NaN           Hispanic
3067           211         NaN     9983529412.000              Black
3068           214         853     9983529412.000              Black
3069           237         NaN                NaN              Black
3070           227        1087                NaN              Black

     StudentGender Grade
0                M     2
1                M     2
2                M     2
3                M     2
4                F     2
...            ...   ...
3066             M     9
3067             M     6
3068             M     6
3069             F     5
3070             F     5

[3071 rows x 9 columns]

In [10]:
# Add a new column named 'Year' with all values set to 2016
merged16['Year'] = 2016

# Display the DataFrame to see the new column
print(merged16)

       StudentID  Student_StateID_x                          TestName  \
0           1002     1591820143.000     Growth: Math K-2 CCSS 2010 V2
1           1002     1591820143.000     Growth: Reading K-2 CCSS 2010
2           1003     7816959131.000     Growth: Math K-2 CCSS 2010 V2
3           1003     7816959131.000     Growth: Reading K-2 CCSS 2010
4           1005     6200882279.000     Growth: Math K-2 CCSS 2010 V2
...          ...                ...                               ...
3066  9982194839                NaN   Growth: Reading 6+ CCSS 2010 V2
3067  9983529412     9983529412.000     Growth: Math 2-5 CCSS 2010 V2
3068  9983529412     9983529412.000  Growth: Reading 2-5 CCSS 2010 V2
3069  9983668608                NaN     Growth: Math 2-5 CCSS 2010 V2
3070  9983668608                NaN  Growth: Reading 2-5 CCSS 2010 V2

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              213         NaN     1591820143.000           Hispanic
1              195         511     1591820143.000           Hispanic
2              196         NaN     7816959131.000              Black
3              183         295     7816959131.000              Black
4              191         NaN     6200882279.000           Hispanic
...            ...         ...                ...                ...
3066           183         295                NaN           Hispanic
3067           211         NaN     9983529412.000              Black
3068           214         853     9983529412.000              Black
3069           237         NaN                NaN              Black
3070           227        1087                NaN              Black

     StudentGender Grade  Year
0                M     2  2016
1                M     2  2016
2                M     2  2016
3                M     2  2016
4                F     2  2016
...            ...   ...   ...
3066             M     9  2016
3067             M     6  2016
3068             M     6  2016
3069             F     5  2016
3070             F     5  2016

[3071 rows x 10 columns]

In [11]:
print(merged16.dtypes)

StudentID               int64
Student_StateID_x     float64
TestName               object
TestRITScore            int64
LexileScore            object
Student_StateID_y     float64
StudentEthnicGroup     object
StudentGender          object
Grade                  object
Year                    int64
dtype: object

#14-15 data

In [12]:
# File path
file_path = '/content/drive/My Drive/assessments201415.csv'

data= pd.read_csv(file_path)
# List of column names you want to keep
columns_to_keep = ['StudentID', 'Student_StateID', 'TestName','TestRITScore','LexileScore']

# Create a new DataFrame with only these columns
score1415= data[columns_to_keep]

score1415.head()

,StudentID,Student_StateID,TestName,TestRITScore,LexileScore
0,1002,1591820143.000,Growth: Math K-2 CCSS 2010 V2,170,NaN
1,1002,1591820143.000,Growth: Reading K-2 CCSS 2010,169,BR
2,1003,7816959131.000,Growth: Math K-2 CCSS 2010 V2,154,NaN
3,1003,7816959131.000,Growth: Reading K-2 CCSS 2010,157,BR
4,1008,4297133420.000,Growth: Math K-2 CCSS 2010 V2,157,NaN

In [13]:
# File path
file_path = '/content/drive/My Drive/enrollment201415.csv'

# Read the CSV file
data= pd.read_csv(file_path)

# List of column names you want to keep
columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']

# Create a new DataFrame with only these columns
enrollment1415= data[columns_to_keep]

enrollment1415.head()

    StudentID  Student_StateID StudentEthnicGroup StudentGender Grade
0  1015267642   1015267642.000           Hispanic             M     6
1  1023348629              NaN              Asian             F     8
2       10483              NaN              Black             F     7
3       10630              NaN              Black             F     6
4       10679              NaN           Hispanic             F     6

In [14]:
# Merge on 'StudentID' with an indicator
merged_df = pd.merge(score1415, enrollment1415, on='StudentID', how='inner', indicator=True)

merged14 = merged_df[merged_df['_merge'] == 'both']

merged14.drop(columns=['_merge'], inplace=True)

print(merged14)

       StudentID  Student_StateID_x                          TestName  \
0           1002     1591820143.000     Growth: Math K-2 CCSS 2010 V2
1           1002     1591820143.000     Growth: Reading K-2 CCSS 2010
2           1003     7816959131.000     Growth: Math K-2 CCSS 2010 V2
3           1003     7816959131.000     Growth: Reading K-2 CCSS 2010
4           1008     4297133420.000     Growth: Math K-2 CCSS 2010 V2
...          ...                ...                               ...
3180  9974474112                NaN      Growth: Math 6+ CCSS 2010 V2
3181  9974474112                NaN   Growth: Reading 6+ CCSS 2010 V2
3182  9974474112                NaN   Growth: Reading 6+ CCSS 2010 V2
3183  9980446488                NaN     Growth: Math 2-5 CCSS 2010 V2
3184  9980446488                NaN  Growth: Reading 2-5 CCSS 2010 V2

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              170         NaN     1591820143.000           Hispanic
1              169          BR     1591820143.000           Hispanic
2              154         NaN     7816959131.000              Black
3              157          BR     7816959131.000              Black
4              157         NaN     4297133420.000           Hispanic
...            ...         ...                ...                ...
3180           242         NaN                NaN              Asian
3181           239        1303                NaN              Asian
3182           233        1195                NaN              Asian
3183           198         NaN                NaN              Black
3184           199         583                NaN              Black

     StudentGender Grade
0                M    KF
1                M    KF
2                M    KF
3                M    KF
4                M    KF
...            ...   ...
3180             F     7
3181             F     7
3182             F     7
3183             F     3
3184             F     3

[3185 rows x 9 columns]

In [15]:
# Add a new column named 'Year' with all values set to 2016
merged14['Year'] = 2014

# Display the DataFrame to see the new column
print(merged14)

       StudentID  Student_StateID_x                          TestName  \
0           1002     1591820143.000     Growth: Math K-2 CCSS 2010 V2
1           1002     1591820143.000     Growth: Reading K-2 CCSS 2010
2           1003     7816959131.000     Growth: Math K-2 CCSS 2010 V2
3           1003     7816959131.000     Growth: Reading K-2 CCSS 2010
4           1008     4297133420.000     Growth: Math K-2 CCSS 2010 V2
...          ...                ...                               ...
3180  9974474112                NaN      Growth: Math 6+ CCSS 2010 V2
3181  9974474112                NaN   Growth: Reading 6+ CCSS 2010 V2
3182  9974474112                NaN   Growth: Reading 6+ CCSS 2010 V2
3183  9980446488                NaN     Growth: Math 2-5 CCSS 2010 V2
3184  9980446488                NaN  Growth: Reading 2-5 CCSS 2010 V2

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              170         NaN     1591820143.000           Hispanic
1              169          BR     1591820143.000           Hispanic
2              154         NaN     7816959131.000              Black
3              157          BR     7816959131.000              Black
4              157         NaN     4297133420.000           Hispanic
...            ...         ...                ...                ...
3180           242         NaN                NaN              Asian
3181           239        1303                NaN              Asian
3182           233        1195                NaN              Asian
3183           198         NaN                NaN              Black
3184           199         583                NaN              Black

     StudentGender Grade  Year
0                M    KF  2014
1                M    KF  2014
2                M    KF  2014
3                M    KF  2014
4                M    KF  2014
...            ...   ...   ...
3180             F     7  2014
3181             F     7  2014
3182             F     7  2014
3183             F     3  2014
3184             F     3  2014

[3185 rows x 10 columns]

In [16]:
print(merged14.dtypes)

StudentID              object
Student_StateID_x     float64
TestName               object
TestRITScore            int64
LexileScore            object
Student_StateID_y     float64
StudentEthnicGroup     object
StudentGender          object
Grade                  object
Year                    int64
dtype: object

In [17]:
# Identify non-numeric values
merged14['StudentID_is_numeric'] = pd.to_numeric(merged14['StudentID'], errors='coerce').notna()

# Option 1: Keep only rows where StudentID is numeric
merged14 = merged14[merged14['StudentID_is_numeric']]

# Convert to integer
merged14['StudentID'] = merged14['StudentID'].astype(int)

# Check the change
print(merged14.dtypes)

StudentID                 int64
Student_StateID_x       float64
TestName                 object
TestRITScore              int64
LexileScore              object
Student_StateID_y       float64
StudentEthnicGroup       object
StudentGender            object
Grade                    object
Year                      int64
StudentID_is_numeric       bool
dtype: object

<ipython-input-17-ff2ba08e3169>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged14['StudentID'] = merged14['StudentID'].astype(int)

In [18]:
merged14['StudentID'] = merged14['StudentID'].astype(int)
# Check the change
print(merged14.dtypes)

StudentID                 int64
Student_StateID_x       float64
TestName                 object
TestRITScore              int64
LexileScore              object
Student_StateID_y       float64
StudentEthnicGroup       object
StudentGender            object
Grade                    object
Year                      int64
StudentID_is_numeric       bool
dtype: object

<ipython-input-18-8bdffe54f34f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged14['StudentID'] = merged14['StudentID'].astype(int)

# 15-16 data

In [19]:
# File path
file_path = '/content/drive/My Drive/assessments201516.csv'

data= pd.read_csv(file_path)
# List of column names you want to keep
columns_to_keep = ['StudentID', 'Student_StateID', 'TestName','TestRITScore','LexileScore']

# Create a new DataFrame with only these columns
score1516= data[columns_to_keep]

score1516.head()

,StudentID,Student_StateID,TestName,TestRITScore,LexileScore
0,1002,1591820143.000,Growth: Math K-2 CCSS 2010 V2,195,NaN
1,1002,1591820143.000,Growth: Reading K-2 CCSS 2010,187,367
2,1003,7816959131.000,Growth: Math K-2 CCSS 2010 V2,167,NaN
3,1003,7816959131.000,Growth: Reading K-2 CCSS 2010,167,BR
4,1011,8425580900.000,Growth: Math K-2 CCSS 2010 V2,185,NaN

In [20]:
# File path
file_path = '/content/drive/My Drive/enrollment201516.csv'

data= pd.read_csv(file_path)

# List of column names you want to keep
columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']
# new DataFrame with only these columns
enrollment1516= data[columns_to_keep]

enrollment1516.head()

    StudentID  Student_StateID StudentEthnicGroup StudentGender Grade
0  1018256150   1018256150.000           Hispanic             M    10
1  1046427506              NaN           Hispanic             F    12
2  1084712619              NaN           Hispanic             M    11
3  1088668664              NaN           Hispanic             M    12
4  1121380680              NaN           Hispanic             F    12

In [21]:
# Merge on 'StudentID' with an indicator
merged_df = pd.merge(score1516, enrollment1516, on='StudentID', how='inner', indicator=True)

merged15 = merged_df[merged_df['_merge'] == 'both']

merged15.drop(columns=['_merge'], inplace=True)

print(merged15)

       StudentID  Student_StateID_x                          TestName  \
0           1002     1591820143.000     Growth: Math K-2 CCSS 2010 V2
1           1002     1591820143.000     Growth: Reading K-2 CCSS 2010
2           1003     7816959131.000     Growth: Math K-2 CCSS 2010 V2
3           1003     7816959131.000     Growth: Reading K-2 CCSS 2010
4           1011     8425580900.000     Growth: Math K-2 CCSS 2010 V2
...          ...                ...                               ...
2899  9974474112                NaN   Growth: Reading 6+ CCSS 2010 V2
2900  9980446488                NaN     Growth: Math 2-5 CCSS 2010 V2
2901  9980446488                NaN  Growth: Reading 2-5 CCSS 2010 V2
2902  9983529412     9983529412.000     Growth: Math 2-5 CCSS 2010 V2
2903  9983529412     9983529412.000  Growth: Reading 2-5 CCSS 2010 V2

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              195         NaN     1591820143.000           Hispanic
1              187         367     1591820143.000           Hispanic
2              167         NaN     7816959131.000              Black
3              167          BR     7816959131.000              Black
4              185         NaN     8425580900.000              Black
...            ...         ...                ...                ...
2899           240        1321                NaN              Asian
2900           200         NaN                NaN              Black
2901           202         637                NaN              Black
2902           207         NaN     9983529412.000              Black
2903           211         799     9983529412.000              Black

     StudentGender Grade
0                M     1
1                M     1
2                M     1
3                M     1
4                M     1
...            ...   ...
2899             F     8
2900             F     4
2901             F     4
2902             M     4
2903             M     4

[2904 rows x 9 columns]

In [22]:
# Add a new column named 'Year' with all values set to 2016
merged15['Year'] = 2015

# Display the DataFrame to see the new column
print(merged15)

       StudentID  Student_StateID_x                          TestName  \
0           1002     1591820143.000     Growth: Math K-2 CCSS 2010 V2
1           1002     1591820143.000     Growth: Reading K-2 CCSS 2010
2           1003     7816959131.000     Growth: Math K-2 CCSS 2010 V2
3           1003     7816959131.000     Growth: Reading K-2 CCSS 2010
4           1011     8425580900.000     Growth: Math K-2 CCSS 2010 V2
...          ...                ...                               ...
2899  9974474112                NaN   Growth: Reading 6+ CCSS 2010 V2
2900  9980446488                NaN     Growth: Math 2-5 CCSS 2010 V2
2901  9980446488                NaN  Growth: Reading 2-5 CCSS 2010 V2
2902  9983529412     9983529412.000     Growth: Math 2-5 CCSS 2010 V2
2903  9983529412     9983529412.000  Growth: Reading 2-5 CCSS 2010 V2

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              195         NaN     1591820143.000           Hispanic
1              187         367     1591820143.000           Hispanic
2              167         NaN     7816959131.000              Black
3              167          BR     7816959131.000              Black
4              185         NaN     8425580900.000              Black
...            ...         ...                ...                ...
2899           240        1321                NaN              Asian
2900           200         NaN                NaN              Black
2901           202         637                NaN              Black
2902           207         NaN     9983529412.000              Black
2903           211         799     9983529412.000              Black

     StudentGender Grade  Year
0                M     1  2015
1                M     1  2015
2                M     1  2015
3                M     1  2015
4                M     1  2015
...            ...   ...   ...
2899             F     8  2015
2900             F     4  2015
2901             F     4  2015
2902             M     4  2015
2903             M     4  2015

[2904 rows x 10 columns]

# 17-18 data

In [23]:
file_path = '/content/drive/My Drive/assessments201718.csv'
data= pd.read_csv(file_path)
columns_to_keep = ['StudentID', 'Student_StateID', 'TestName','TestRITScore','LexileScore']
score1718= data[columns_to_keep]
score1718.head()

,StudentID,Student_StateID,TestName,TestRITScore,LexileScore
0,1001,9784372138,Growth: Math 2-5 NJ 2016,175,NaN
1,1001,9784372138,Growth: Reading 2-5 NJ 2016,168,BR
2,1002,1591820143,Growth: Math 2-5 NJ 2016,211,NaN
3,1002,1591820143,Growth: Reading 2-5 NJ 2016,207,727
4,1003,7816959131,Growth: Math 2-5 NJ 2016,194,NaN

In [24]:
file_path = '/content/drive/My Drive/enrollment201718.csv'
data= pd.read_csv(file_path)
columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']
enrollment1718= data[columns_to_keep]
enrollment1718.head()

    StudentID  Student_StateID StudentEthnicGroup StudentGender Grade
0  1015267642       1015267642           Hispanic             M     9
1  1018256150       1018256150           Hispanic             M    12
2    12272794       8032207693              Black             F    11
3    12272797       1325317881              Black             M    11
4    12272798       1021430407              Black             F    11

In [25]:
# Merge on 'StudentID' with an indicator
merged_df = pd.merge(score1718, enrollment1718, on='StudentID', how='inner', indicator=True)

merged17 = merged_df[merged_df['_merge'] == 'both']

merged17.drop(columns=['_merge'], inplace=True)

print(merged17)

       StudentID  Student_StateID_x                     TestName  \
0           1001         9784372138     Growth: Math 2-5 NJ 2016
1           1001         9784372138  Growth: Reading 2-5 NJ 2016
2           1002         1591820143     Growth: Math 2-5 NJ 2016
3           1002         1591820143  Growth: Reading 2-5 NJ 2016
4           1003         7816959131     Growth: Math 2-5 NJ 2016
...          ...                ...                          ...
3006         994         3356386762  Growth: Reading 2-5 NJ 2016
3007         996         7232964515     Growth: Math 2-5 NJ 2016
3008         996         7232964515  Growth: Reading 2-5 NJ 2016
3009  9977980915         9977980915     Growth: Math K-2 NJ 2016
3010  9977980915         9977980915  Growth: Reading K-2 NJ 2016

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              175         NaN         9784372138              Black
1              168          BR         9784372138              Black
2              211         NaN         1591820143           Hispanic
3              207         727         1591820143           Hispanic
4              194         NaN         7816959131              Black
...            ...         ...                ...                ...
3006           195         511         3356386762           Hispanic
3007           195         NaN         7232964515           Hispanic
3008           170          BR         7232964515           Hispanic
3009           185         NaN         9977980915              Black
3010           160          BR         9977980915              Black

     StudentGender Grade
0                M     3
1                M     3
2                M     3
3                M     3
4                M     3
...            ...   ...
3006             F     3
3007             M     3
3008             M     3
3009             F     1
3010             F     1

[3011 rows x 9 columns]

In [26]:
# Add a new column named 'Year' with all values set to 2017
merged17['Year'] = 2017
print(merged17)

       StudentID  Student_StateID_x                     TestName  \
0           1001         9784372138     Growth: Math 2-5 NJ 2016
1           1001         9784372138  Growth: Reading 2-5 NJ 2016
2           1002         1591820143     Growth: Math 2-5 NJ 2016
3           1002         1591820143  Growth: Reading 2-5 NJ 2016
4           1003         7816959131     Growth: Math 2-5 NJ 2016
...          ...                ...                          ...
3006         994         3356386762  Growth: Reading 2-5 NJ 2016
3007         996         7232964515     Growth: Math 2-5 NJ 2016
3008         996         7232964515  Growth: Reading 2-5 NJ 2016
3009  9977980915         9977980915     Growth: Math K-2 NJ 2016
3010  9977980915         9977980915  Growth: Reading K-2 NJ 2016

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              175         NaN         9784372138              Black
1              168          BR         9784372138              Black
2              211         NaN         1591820143           Hispanic
3              207         727         1591820143           Hispanic
4              194         NaN         7816959131              Black
...            ...         ...                ...                ...
3006           195         511         3356386762           Hispanic
3007           195         NaN         7232964515           Hispanic
3008           170          BR         7232964515           Hispanic
3009           185         NaN         9977980915              Black
3010           160          BR         9977980915              Black

     StudentGender Grade  Year
0                M     3  2017
1                M     3  2017
2                M     3  2017
3                M     3  2017
4                M     3  2017
...            ...   ...   ...
3006             F     3  2017
3007             M     3  2017
3008             M     3  2017
3009             F     1  2017
3010             F     1  2017

[3011 rows x 10 columns]

#18-19 data

In [27]:
file_path = '/content/drive/My Drive/assessments201819.csv'
data= pd.read_csv(file_path)
columns_to_keep = ['StudentID', 'Student_StateID', 'TestName','TestRITScore','LexileScore']
score1819= data[columns_to_keep]
score1819.head()

,StudentID,Student_StateID,TestName,TestRITScore,LexileScore
0,1001,9784372138,Growth: Math 2-5 NJ 2016,199,NaN
1,1001,9784372138,Growth: Reading 2-5 NJ 2016 V2,201,685L
2,1002,1591820143,Growth: Math 2-5 NJ 2016,231,NaN
3,1002,1591820143,Growth: Reading 2-5 NJ 2016 V2,223,1130L
4,1003,7816959131,Growth: Math 2-5 NJ 2016,205,NaN

In [28]:
file_path = '/content/drive/My Drive/enrollment201819.csv'
data= pd.read_csv(file_path)
columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']
enrollment1819= data[columns_to_keep]
enrollment1819.head()

   StudentID  Student_StateID StudentEthnicGroup StudentGender Grade
0   12272794       8032207693              Black             F    12
1   12272797       1325317881              Black             M    12
2   12272798       1021430407              Black             F    12
3   12272799       1312577972           Hispanic             M    12
4   12272801       2047487493           Hispanic             F    12

In [29]:
merged_df = pd.merge(score1819, enrollment1819, on='StudentID', how='inner', indicator=True)
merged18 = merged_df[merged_df['_merge'] == 'both']
merged18.drop(columns=['_merge'], inplace=True)
print(merged18)

      StudentID  Student_StateID_x                        TestName  \
0          1001         9784372138        Growth: Math 2-5 NJ 2016
1          1001         9784372138  Growth: Reading 2-5 NJ 2016 V2
2          1002         1591820143        Growth: Math 2-5 NJ 2016
3          1002         1591820143  Growth: Reading 2-5 NJ 2016 V2
4          1003         7816959131        Growth: Math 2-5 NJ 2016
...         ...                ...                             ...
2756        996         7232964515  Growth: Reading 2-5 NJ 2016 V2
2757        997         3224073437        Growth: Math 2-5 NJ 2016
2758        997         3224073437  Growth: Reading 2-5 NJ 2016 V2
2759        999         6896858008        Growth: Math 2-5 NJ 2016
2760        999         6896858008  Growth: Reading 2-5 NJ 2016 V2

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              199         NaN         9784372138              Black
1              201        685L         9784372138              Black
2              231         NaN         1591820143           Hispanic
3              223       1130L         1591820143           Hispanic
4              205         NaN         7816959131              Black
...            ...         ...                ...                ...
2756           186        385L         7232964515           Hispanic
2757           217         NaN         3224073437           Hispanic
2758           191        485L         3224073437           Hispanic
2759           194         NaN         6896858008              Black
2760           214        950L         6896858008              Black

     StudentGender Grade
0                M     4
1                M     4
2                M     4
3                M     4
4                M     4
...            ...   ...
2756             M     4
2757             M     4
2758             M     4
2759             F     4
2760             F     4

[2761 rows x 9 columns]

In [30]:
merged18['Year'] = 2018
print(merged18)

      StudentID  Student_StateID_x                        TestName  \
0          1001         9784372138        Growth: Math 2-5 NJ 2016
1          1001         9784372138  Growth: Reading 2-5 NJ 2016 V2
2          1002         1591820143        Growth: Math 2-5 NJ 2016
3          1002         1591820143  Growth: Reading 2-5 NJ 2016 V2
4          1003         7816959131        Growth: Math 2-5 NJ 2016
...         ...                ...                             ...
2756        996         7232964515  Growth: Reading 2-5 NJ 2016 V2
2757        997         3224073437        Growth: Math 2-5 NJ 2016
2758        997         3224073437  Growth: Reading 2-5 NJ 2016 V2
2759        999         6896858008        Growth: Math 2-5 NJ 2016
2760        999         6896858008  Growth: Reading 2-5 NJ 2016 V2

      TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0              199         NaN         9784372138              Black
1              201        685L         9784372138              Black
2              231         NaN         1591820143           Hispanic
3              223       1130L         1591820143           Hispanic
4              205         NaN         7816959131              Black
...            ...         ...                ...                ...
2756           186        385L         7232964515           Hispanic
2757           217         NaN         3224073437           Hispanic
2758           191        485L         3224073437           Hispanic
2759           194         NaN         6896858008              Black
2760           214        950L         6896858008              Black

     StudentGender Grade  Year
0                M     4  2018
1                M     4  2018
2                M     4  2018
3                M     4  2018
4                M     4  2018
...            ...   ...   ...
2756             M     4  2018
2757             M     4  2018
2758             M     4  2018
2759             F     4  2018
2760             F     4  2018

[2761 rows x 10 columns]

# Merge all data

In [31]:
precovid = pd.concat([merged14, merged15, merged16, merged17, merged18], ignore_index = True)

In [32]:
YearEnrolled = precovid.groupby('StudentID')['Year'].agg(['min', 'max'])
YearEnrolled.rename(columns={'min': 'first_year', 'max': 'last_year'}, inplace=True)

In [33]:
# Assuming df is your DataFrame and student_id is the ID you're looking for
StudentID = 1002  # replace with the actual StudentID
row = YearEnrolled.loc[StudentID]
print(row)
#interesting, so 2014 record wasn't in—go change dtype

first_year    2014
last_year     2018
Name: 1002, dtype: int64

In [34]:
precovid = precovid.merge(YearEnrolled, on='StudentID', how='left')

In [35]:
precovid['Duration'] = precovid['last_year'] - precovid['first_year']

In [36]:
print(precovid)

       StudentID  Student_StateID_x                        TestName  \
0           1002     1591820143.000   Growth: Math K-2 CCSS 2010 V2
1           1002     1591820143.000   Growth: Reading K-2 CCSS 2010
2           1003     7816959131.000   Growth: Math K-2 CCSS 2010 V2
3           1003     7816959131.000   Growth: Reading K-2 CCSS 2010
4           1008     4297133420.000   Growth: Math K-2 CCSS 2010 V2
...          ...                ...                             ...
14908        996     7232964515.000  Growth: Reading 2-5 NJ 2016 V2
14909        997     3224073437.000        Growth: Math 2-5 NJ 2016
14910        997     3224073437.000  Growth: Reading 2-5 NJ 2016 V2
14911        999     6896858008.000        Growth: Math 2-5 NJ 2016
14912        999     6896858008.000  Growth: Reading 2-5 NJ 2016 V2

       TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
0               170         NaN     1591820143.000           Hispanic
1               169          BR     1591820143.000           Hispanic
2               154         NaN     7816959131.000              Black
3               157          BR     7816959131.000              Black
4               157         NaN     4297133420.000           Hispanic
...             ...         ...                ...                ...
14908           186        385L     7232964515.000           Hispanic
14909           217         NaN     3224073437.000           Hispanic
14910           191        485L     3224073437.000           Hispanic
14911           194         NaN     6896858008.000              Black
14912           214        950L     6896858008.000              Black

      StudentGender Grade  Year StudentID_is_numeric  first_year  last_year  \
0                 M    KF  2014                 True        2014       2018
1                 M    KF  2014                 True        2014       2018
2                 M    KF  2014                 True        2014       2018
3                 M    KF  2014                 True        2014       2018
4                 M    KF  2014                 True        2014       2018
...             ...   ...   ...                  ...         ...        ...
14908             M     4  2018                  NaN        2016       2018
14909             M     4  2018                  NaN        2018       2018
14910             M     4  2018                  NaN        2018       2018
14911             F     4  2018                  NaN        2018       2018
14912             F     4  2018                  NaN        2018       2018

       Duration
0             4
1             4
2             4
3             4
4             4
...         ...
14908         2
14909         0
14910         0
14911         0
14912         0

[14913 rows x 14 columns]

<ipython-input-36-e8abc804599d>:1: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  print(precovid)

In [37]:
summary_stats = precovid['Duration'].describe()
print(summary_stats)

count   14913.000
mean        2.587
std         1.354
min         0.000
25%         2.000
50%         3.000
75%         4.000
max         4.000
Name: Duration, dtype: float64

In [38]:
precovid['Duration'] = precovid['Duration'] + 1
print(precovid.head())

   StudentID  Student_StateID_x                       TestName  TestRITScore  \
0       1002     1591820143.000  Growth: Math K-2 CCSS 2010 V2           170
1       1002     1591820143.000  Growth: Reading K-2 CCSS 2010           169
2       1003     7816959131.000  Growth: Math K-2 CCSS 2010 V2           154
3       1003     7816959131.000  Growth: Reading K-2 CCSS 2010           157
4       1008     4297133420.000  Growth: Math K-2 CCSS 2010 V2           157

  LexileScore  Student_StateID_y StudentEthnicGroup StudentGender Grade  Year  \
0         NaN     1591820143.000           Hispanic             M    KF  2014
1          BR     1591820143.000           Hispanic             M    KF  2014
2         NaN     7816959131.000              Black             M    KF  2014
3          BR     7816959131.000              Black             M    KF  2014
4         NaN     4297133420.000           Hispanic             M    KF  2014

  StudentID_is_numeric  first_year  last_year  Duration
0                 True        2014       2018         5
1                 True        2014       2018         5
2                 True        2014       2018         5
3                 True        2014       2018         5
4                 True        2014       2018         5

In [39]:
unique_student_ids = precovid['StudentID'].nunique()
print("Number of unique Student IDs:", unique_student_ids)

Number of unique Student IDs: 2589

# cohort (from KF to G4) vs later to join

In [296]:
# Filter the main DataFrame for the year 2018
outcome2018 = precovid[precovid['Year'] == 2018]
# Continuous Enrollment Cohort
continuous_enrollment_cohort = outcome2018[(outcome2018['Duration'] == 5) & (outcome2018['last_year'] == 2018)&(outcome2018['Grade'] == '4')]
# Late Joiners (joined later but reached Grade 4 in 2018)
late_joiners = outcome2018[(outcome2018['Duration'] < 5) & (outcome2018['last_year'] == 2018)& (outcome2018['Grade'] == '4')]

In [229]:
print(late_joiners)

       StudentID  Student_StateID_x                        TestName  \
12162       1009     2498295332.000        Growth: Math 2-5 NJ 2016
12163       1009     2498295332.000  Growth: Reading 2-5 NJ 2016 V2
12164       1010     2559084973.000        Growth: Math 2-5 NJ 2016
12165       1010     2559084973.000  Growth: Reading 2-5 NJ 2016 V2
13865   14100849     9110482261.000        Growth: Math 2-5 NJ 2016
13866   14100849     9110482261.000  Growth: Reading 2-5 NJ 2016 V2
13887   14100880     6311350776.000        Growth: Math 2-5 NJ 2016
13888   14100880     6311350776.000  Growth: Reading 2-5 NJ 2016 V2
14023   14265314     3675247019.000        Growth: Math 2-5 NJ 2016
14024   14265314     3675247019.000  Growth: Reading 2-5 NJ 2016 V2
14055   14354310     8162145408.000        Growth: Math 2-5 NJ 2016
14056   14354310     8162145408.000  Growth: Reading 2-5 NJ 2016 V2
14059   14357810     9491596032.000        Growth: Math 2-5 NJ 2016
14060   14357810     9491596032.000  Growth: Reading 2-5 NJ 2016 V2
14801        918     2423118109.000        Growth: Math 2-5 NJ 2016
14802        918     2423118109.000  Growth: Reading 2-5 NJ 2016 V2
14807        927     5403562992.000        Growth: Math 2-5 NJ 2016
14808        927     5403562992.000  Growth: Reading 2-5 NJ 2016 V2
14813        930     7247161477.000        Growth: Math 2-5 NJ 2016
14814        930     7247161477.000  Growth: Reading 2-5 NJ 2016 V2
14831        941     2983548739.000        Growth: Math 2-5 NJ 2016
14832        941     2983548739.000  Growth: Reading 2-5 NJ 2016 V2
14837        945     9701302538.000        Growth: Math 2-5 NJ 2016
14838        945     9701302538.000  Growth: Reading 2-5 NJ 2016 V2
14841        949     6136553429.000        Growth: Math 2-5 NJ 2016
14842        949     6136553429.000  Growth: Reading 2-5 NJ 2016 V2
14871        969     2773014543.000        Growth: Math 2-5 NJ 2016
14872        969     2773014543.000  Growth: Reading 2-5 NJ 2016 V2
14895        985     2912131330.000        Growth: Math 2-5 NJ 2016
14896        985     2912131330.000  Growth: Reading 2-5 NJ 2016 V2
14901        992     8634405137.000        Growth: Math 2-5 NJ 2016
14902        992     8634405137.000  Growth: Reading 2-5 NJ 2016 V2
14909        997     3224073437.000        Growth: Math 2-5 NJ 2016
14910        997     3224073437.000  Growth: Reading 2-5 NJ 2016 V2
14911        999     6896858008.000        Growth: Math 2-5 NJ 2016
14912        999     6896858008.000  Growth: Reading 2-5 NJ 2016 V2

       TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
12162           224         NaN     2498295332.000              Black
12163           218       1030L     2498295332.000              Black
12164           199         NaN     2559084973.000           Hispanic
12165           193        525L     2559084973.000           Hispanic
13865           213         NaN     9110482261.000           Hispanic
13866           223       1130L     9110482261.000           Hispanic
13887           216         NaN     6311350776.000           Hispanic
13888           214        950L     6311350776.000           Hispanic
14023           197         NaN     3675247019.000              Black
14024           199        645L     3675247019.000              Black
14055           203         NaN     8162145408.000              Black
14056           207        805L     8162145408.000              Black
14059           223         NaN     9491596032.000           Hispanic
14060           218       1030L     9491596032.000           Hispanic
14801           214         NaN     2423118109.000           Hispanic
14802           210        870L     2423118109.000           Hispanic
14807           214         NaN     5403562992.000           Hispanic
14808           215        970L     5403562992.000           Hispanic
14813           200         NaN     7247161477.000           Hispanic
14814           177        200L     7247161477.000           Hispanic
14831           215         NaN     2983548739.000              Black
14832           212        910L     2983548739.000              Black
14837           232         NaN     9701302538.000           Hispanic
14838           219       1050L     9701302538.000           Hispanic
14841           200         NaN     6136553429.000           Hispanic
14842           196        585L     6136553429.000           Hispanic
14871           216         NaN     2773014543.000           Hispanic
14872           214        950L     2773014543.000           Hispanic
14895           213         NaN     2912131330.000              Black
14896           207        805L     2912131330.000              Black
14901           206         NaN     8634405137.000              Black
14902           196        585L     8634405137.000              Black
14909           217         NaN     3224073437.000           Hispanic
14910           191        485L     3224073437.000           Hispanic
14911           194         NaN     6896858008.000              Black
14912           214        950L     6896858008.000              Black

      StudentGender Grade  Year StudentID_is_numeric  first_year  last_year  \
12162             F     4  2018                  NaN        2018       2018
12163             F     4  2018                  NaN        2018       2018
12164             M     4  2018                  NaN        2018       2018
12165             M     4  2018                  NaN        2018       2018
13865             F     4  2018                  NaN        2018       2018
13866             F     4  2018                  NaN        2018       2018
13887             F     4  2018                  NaN        2018       2018
13888             F     4  2018                  NaN        2018       2018
14023             F     4  2018                  NaN        2018       2018
14024             F     4  2018                  NaN        2018       2018
14055             F     4  2018                  NaN        2018       2018
14056             F     4  2018                  NaN        2018       2018
14059             F     4  2018                  NaN        2018       2018
14060             F     4  2018                  NaN        2018       2018
14801             F     4  2018                  NaN        2018       2018
14802             F     4  2018                  NaN        2018       2018
14807             F     4  2018                  NaN        2018       2018
14808             F     4  2018                  NaN        2018       2018
14813             M     4  2018                  NaN        2018       2018
14814             M     4  2018                  NaN        2018       2018
14831             F     4  2018                  NaN        2018       2018
14832             F     4  2018                  NaN        2018       2018
14837             F     4  2018                  NaN        2018       2018
14838             F     4  2018                  NaN        2018       2018
14841             F     4  2018                  NaN        2018       2018
14842             F     4  2018                  NaN        2018       2018
14871             F     4  2018                  NaN        2018       2018
14872             F     4  2018                  NaN        2018       2018
14895             M     4  2018                  NaN        2018       2018
14896             M     4  2018                  NaN        2018       2018
14901             F     4  2018                  NaN        2018       2018
14902             F     4  2018                  NaN        2018       2018
14909             M     4  2018                  NaN        2018       2018
14910             M     4  2018                  NaN        2018       2018
14911             F     4  2018                  NaN        2018       2018
14912             F     4  2018                  NaN        2018       2018

       Duration
12162         1
12163         1
12164         1
12165         1
13865         1
13866         1
13887         1
13888         1
14023         1
14024         1
14055         1
14056         1
14059         1
14060         1
14801         1
14802         1
14807         1
14808         1
14813         1
14814         1
14831         1
14832         1
14837         1
14838         1
14841         1
14842         1
14871         1
14872         1
14895         1
14896         1
14901         1
14902         1
14909         1
14910         1
14911         1
14912         1

In [65]:
print(continuous_enrollment_cohort)

       StudentID  Student_StateID_x                        TestName  \
12154       1002     1591820143.000        Growth: Math 2-5 NJ 2016
12155       1002     1591820143.000  Growth: Reading 2-5 NJ 2016 V2
12156       1003     7816959131.000        Growth: Math 2-5 NJ 2016
12157       1003     7816959131.000  Growth: Reading 2-5 NJ 2016 V2
12160       1008     4297133420.000        Growth: Math 2-5 NJ 2016
...          ...                ...                             ...
14898        989     4582807302.000  Growth: Reading 2-5 NJ 2016 V2
14903        993     8137617860.000        Growth: Math 2-5 NJ 2016
14904        993     8137617860.000  Growth: Reading 2-5 NJ 2016 V2
14905        994     3356386762.000        Growth: Math 2-5 NJ 2016
14906        994     3356386762.000  Growth: Reading 2-5 NJ 2016 V2

       TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
12154           231         NaN     1591820143.000           Hispanic
12155           223       1130L     1591820143.000           Hispanic
12156           205         NaN     7816959131.000              Black
12157           209        850L     7816959131.000              Black
12160           215         NaN     4297133420.000           Hispanic
...             ...         ...                ...                ...
14898           212        910L     4582807302.000           Hispanic
14903           225         NaN     8137617860.000              Black
14904           219       1050L     8137617860.000              Black
14905           206         NaN     3356386762.000           Hispanic
14906           211        890L     3356386762.000           Hispanic

      StudentGender Grade  Year StudentID_is_numeric  first_year  last_year  \
12154             M     4  2018                  NaN        2014       2018
12155             M     4  2018                  NaN        2014       2018
12156             M     4  2018                  NaN        2014       2018
12157             M     4  2018                  NaN        2014       2018
12160             M     4  2018                  NaN        2014       2018
...             ...   ...   ...                  ...         ...        ...
14898             F     4  2018                  NaN        2014       2018
14903             F     4  2018                  NaN        2014       2018
14904             F     4  2018                  NaN        2014       2018
14905             F     4  2018                  NaN        2014       2018
14906             F     4  2018                  NaN        2014       2018

       Duration
12154         5
12155         5
12156         5
12157         5
12160         5
...         ...
14898         5
14903         5
14904         5
14905         5
14906         5

[130 rows x 14 columns]

Welch's t-test was used, which does not assume equal variances between the two groups.

In [222]:
df = pd.DataFrame(continuous_enrollment_cohort)
filename = 'CE2019spring_data.xlsx'
df.to_excel(filename, index=False, engine='openpyxl')

print(f'DataFrame exported to {filename} successfully.')

DataFrame exported to CE2019spring_data.xlsx successfully.

In [297]:
unique_student_ids = late_joiners['StudentID'].nunique()
print("Number of unique Student IDs:", unique_student_ids)

Number of unique Student IDs: 48

In [166]:
unique_student_ids = continuous_enrollment_cohort['StudentID'].nunique()
print("Number of unique Student IDs:", unique_student_ids)

Number of unique Student IDs: 65

In [298]:
from scipy import stats
# Perform the t-test on Math TestRITScore
t_stat_math, p_value_math = stats.ttest_ind(
    continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    late_joiners[late_joiners['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    equal_var=False
)
# Print the results for Math test
print("T-statistic for Math:", t_stat_math)
print("P-value for Math: {:.10f}".format(p_value_math))

T-statistic for Math: -0.40366078078077183
P-value for Math: 0.6873243626

In [299]:
from scipy import stats
import numpy as np

# Your original t-test code for the Math test scores
t_stat_math, p_value_math = stats.ttest_ind(
    continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    late_joiners[late_joiners['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    equal_var=False
)

# Calculate degrees of freedom for Welch's t-test
math_scores_continuous = continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Math")]['TestRITScore'].dropna()
math_scores_late = late_joiners[late_joiners['TestName'].str.contains("Math")]['TestRITScore'].dropna()

v1 = math_scores_continuous.var(ddof=1)
v2 = math_scores_late.var(ddof=1)
n1 = len(math_scores_continuous)
n2 = len(math_scores_late)
df = ((v1/n1 + v2/n2)**2) / ((v1/n1)**2 / (n1-1) + (v2/n2)**2 / (n2-1))

# Print the t-statistic, p-value, and degrees of freedom
print("T-statistic for Math:", t_stat_math)
print("P-value for Math: {:.10f}".format(p_value_math))
print("Degrees of freedom (df): {:.2f}".format(df))

# Descriptive statistics (means and variances)
mean_continuous = np.mean(math_scores_continuous)
mean_late = np.mean(math_scores_late)
variance_continuous = np.var(math_scores_continuous, ddof=1)
variance_late = np.var(math_scores_late, ddof=1)

# Print descriptives and variances
print(f"Mean for continuous enrollment cohort: {mean_continuous}")
print(f"Mean for late joiners: {mean_late}")
print(f"Variance for continuous enrollment cohort: {variance_continuous}")
print(f"Variance for late joiners: {variance_late}")
print(f"Mean difference: {mean_continuous - mean_late}")

T-statistic for Math: -0.40366078078077183
P-value for Math: 0.6873243626
Degrees of freedom (df): 99.96
Mean for continuous enrollment cohort: 210.2923076923077
Mean for late joiners: 211.22916666666666
Variance for continuous enrollment cohort: 144.39759615384617
Variance for late joiners: 151.92508865248226
Mean difference: -0.9368589743589553

In [300]:
t_stat_reading, p_value_reading = stats.ttest_ind(
    continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Reading")]['TestRITScore'].dropna(),
    late_joiners[late_joiners['TestName'].str.contains("Reading")]['TestRITScore'].dropna(),
    equal_var=False
)

# Calculate degrees of freedom for Welch's t-test
reading_scores_continuous = continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Reading")]['TestRITScore'].dropna()
reading_scores_late = late_joiners[late_joiners['TestName'].str.contains("Reading")]['TestRITScore'].dropna()

v1 = reading_scores_continuous.var(ddof=1)
v2 = reading_scores_late.var(ddof=1)
n1 = len(reading_scores_continuous)
n2 = len(reading_scores_late)
df = ((v1/n1 + v2/n2)**2) / ((v1/n1)**2 / (n1-1) + (v2/n2)**2 / (n2-1))

# Print the t-statistic, p-value, and degrees of freedom
print("T-statistic for Reading:", t_stat_reading)
print("P-value for Reading: {:.10f}".format(p_value_reading))
print("Degrees of freedom (df): {:.2f}".format(df))

# Descriptive statistics (means and variances)
mean_continuous = np.mean(reading_scores_continuous)
mean_late = np.mean(reading_scores_late)
variance_continuous = np.var(reading_scores_continuous, ddof=1)
variance_late = np.var(reading_scores_late, ddof=1)

# Print descriptives and variances
print(f"Mean for continuous enrollment cohort: {mean_continuous}")
print(f"Mean for late joiners: {mean_late}")
print(f"Variance for continuous enrollment cohort: {variance_continuous}")
print(f"Variance for late joiners: {variance_late}")
print(f"Mean difference: {mean_continuous - mean_late}")

T-statistic for Reading: 0.4177913879418064
P-value for Reading: 0.6769723693
Degrees of freedom (df): 102.64
Mean for continuous enrollment cohort: 206.1846153846154
Mean for late joiners: 205.27083333333334
Variance for continuous enrollment cohort: 135.4341346153846
Variance for late joiners: 129.60593971631207
Mean difference: 0.9137820512820554

In [70]:
# Perform the t-test on Reading TestRITScore
t_stat_reading, p_value_reading = stats.ttest_ind(
    continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Reading")]['TestRITScore'].dropna(),
    late_joiners[late_joiners['TestName'].str.contains("Reading")]['TestRITScore'].dropna(),
    equal_var=False
)
# Print the results for Math test
print("T-statistic for Reading:", t_stat_reading)
print("P-value for Reading: {:.10f}".format(p_value_reading))

T-statistic for Reading: 0.4177913879418064
P-value for Reading: 0.6769723693

In [71]:
# Laterrr Joiners (joined later but reached Grade 4 in 2018)
later_joiners = outcome2018[(outcome2018['Duration'] < 4) & (outcome2018['last_year'] == 2018)& (outcome2018['Grade'] == '4')]
print(later_joiners)

       StudentID  Student_StateID_x                        TestName  \
12152       1001     9784372138.000        Growth: Math 2-5 NJ 2016
12153       1001     9784372138.000  Growth: Reading 2-5 NJ 2016 V2
12158       1005     6200882279.000        Growth: Math 2-5 NJ 2016
12159       1005     6200882279.000  Growth: Reading 2-5 NJ 2016 V2
12162       1009     2498295332.000        Growth: Math 2-5 NJ 2016
...          ...                ...                             ...
14908        996     7232964515.000  Growth: Reading 2-5 NJ 2016 V2
14909        997     3224073437.000        Growth: Math 2-5 NJ 2016
14910        997     3224073437.000  Growth: Reading 2-5 NJ 2016 V2
14911        999     6896858008.000        Growth: Math 2-5 NJ 2016
14912        999     6896858008.000  Growth: Reading 2-5 NJ 2016 V2

       TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
12152           199         NaN     9784372138.000              Black
12153           201        685L     9784372138.000              Black
12158           219         NaN     6200882279.000           Hispanic
12159           196        585L     6200882279.000           Hispanic
12162           224         NaN     2498295332.000              Black
...             ...         ...                ...                ...
14908           186        385L     7232964515.000           Hispanic
14909           217         NaN     3224073437.000           Hispanic
14910           191        485L     3224073437.000           Hispanic
14911           194         NaN     6896858008.000              Black
14912           214        950L     6896858008.000              Black

      StudentGender Grade  Year StudentID_is_numeric  first_year  last_year  \
12152             M     4  2018                  NaN        2017       2018
12153             M     4  2018                  NaN        2017       2018
12158             F     4  2018                  NaN        2016       2018
12159             F     4  2018                  NaN        2016       2018
12162             F     4  2018                  NaN        2018       2018
...             ...   ...   ...                  ...         ...        ...
14908             M     4  2018                  NaN        2016       2018
14909             M     4  2018                  NaN        2018       2018
14910             M     4  2018                  NaN        2018       2018
14911             F     4  2018                  NaN        2018       2018
14912             F     4  2018                  NaN        2018       2018

       Duration
12152         2
12153         2
12158         3
12159         3
12162         1
...         ...
14908         3
14909         1
14910         1
14911         1
14912         1

[78 rows x 14 columns]

In [72]:
# Perform the t-test on Math TestRITScore
t_stat_math2, p_value_math2 = stats.ttest_ind(
    continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    later_joiners[later_joiners['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    equal_var=False
)
# Print the results for Math test
print("T-statistic for Math:", t_stat_math2)
print("P-value for Math: {:.10f}".format(p_value_math2))

T-statistic for Math: -0.7525859641568154
P-value for Math: 0.4539489981

In [73]:
# Perform the t-test on Math TestRITScore
t_stat_reading2, p_value_reading2 = stats.ttest_ind(
    continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Reading")]['TestRITScore'].dropna(),
    later_joiners[later_joiners['TestName'].str.contains("Reading")]['TestRITScore'].dropna(),
    equal_var=False
)
# Print the results for Math test
print("T-statistic for Reading:", t_stat_reading2)
print("P-value for Reading: {:.10f}".format(p_value_reading2))

T-statistic for Reading: 0.12177964447124434
P-value for Reading: 0.9033785185

In [74]:
# Latest Joiners (joined later but reached Grade 4 in 2018)
latest_joiners = outcome2018[(outcome2018['Duration'] < 2) & (outcome2018['last_year'] == 2018)& (outcome2018['Grade'] == '4')]
print(latest_joiners)

       StudentID  Student_StateID_x                        TestName  \
12162       1009     2498295332.000        Growth: Math 2-5 NJ 2016
12163       1009     2498295332.000  Growth: Reading 2-5 NJ 2016 V2
12164       1010     2559084973.000        Growth: Math 2-5 NJ 2016
12165       1010     2559084973.000  Growth: Reading 2-5 NJ 2016 V2
13865   14100849     9110482261.000        Growth: Math 2-5 NJ 2016
13866   14100849     9110482261.000  Growth: Reading 2-5 NJ 2016 V2
13887   14100880     6311350776.000        Growth: Math 2-5 NJ 2016
13888   14100880     6311350776.000  Growth: Reading 2-5 NJ 2016 V2
14023   14265314     3675247019.000        Growth: Math 2-5 NJ 2016
14024   14265314     3675247019.000  Growth: Reading 2-5 NJ 2016 V2
14055   14354310     8162145408.000        Growth: Math 2-5 NJ 2016
14056   14354310     8162145408.000  Growth: Reading 2-5 NJ 2016 V2
14059   14357810     9491596032.000        Growth: Math 2-5 NJ 2016
14060   14357810     9491596032.000  Growth: Reading 2-5 NJ 2016 V2
14801        918     2423118109.000        Growth: Math 2-5 NJ 2016
14802        918     2423118109.000  Growth: Reading 2-5 NJ 2016 V2
14807        927     5403562992.000        Growth: Math 2-5 NJ 2016
14808        927     5403562992.000  Growth: Reading 2-5 NJ 2016 V2
14813        930     7247161477.000        Growth: Math 2-5 NJ 2016
14814        930     7247161477.000  Growth: Reading 2-5 NJ 2016 V2
14831        941     2983548739.000        Growth: Math 2-5 NJ 2016
14832        941     2983548739.000  Growth: Reading 2-5 NJ 2016 V2
14837        945     9701302538.000        Growth: Math 2-5 NJ 2016
14838        945     9701302538.000  Growth: Reading 2-5 NJ 2016 V2
14841        949     6136553429.000        Growth: Math 2-5 NJ 2016
14842        949     6136553429.000  Growth: Reading 2-5 NJ 2016 V2
14871        969     2773014543.000        Growth: Math 2-5 NJ 2016
14872        969     2773014543.000  Growth: Reading 2-5 NJ 2016 V2
14895        985     2912131330.000        Growth: Math 2-5 NJ 2016
14896        985     2912131330.000  Growth: Reading 2-5 NJ 2016 V2
14901        992     8634405137.000        Growth: Math 2-5 NJ 2016
14902        992     8634405137.000  Growth: Reading 2-5 NJ 2016 V2
14909        997     3224073437.000        Growth: Math 2-5 NJ 2016
14910        997     3224073437.000  Growth: Reading 2-5 NJ 2016 V2
14911        999     6896858008.000        Growth: Math 2-5 NJ 2016
14912        999     6896858008.000  Growth: Reading 2-5 NJ 2016 V2

       TestRITScore LexileScore  Student_StateID_y StudentEthnicGroup  \
12162           224         NaN     2498295332.000              Black
12163           218       1030L     2498295332.000              Black
12164           199         NaN     2559084973.000           Hispanic
12165           193        525L     2559084973.000           Hispanic
13865           213         NaN     9110482261.000           Hispanic
13866           223       1130L     9110482261.000           Hispanic
13887           216         NaN     6311350776.000           Hispanic
13888           214        950L     6311350776.000           Hispanic
14023           197         NaN     3675247019.000              Black
14024           199        645L     3675247019.000              Black
14055           203         NaN     8162145408.000              Black
14056           207        805L     8162145408.000              Black
14059           223         NaN     9491596032.000           Hispanic
14060           218       1030L     9491596032.000           Hispanic
14801           214         NaN     2423118109.000           Hispanic
14802           210        870L     2423118109.000           Hispanic
14807           214         NaN     5403562992.000           Hispanic
14808           215        970L     5403562992.000           Hispanic
14813           200         NaN     7247161477.000           Hispanic
14814           177        200L     7247161477.000           Hispanic
14831           215         NaN     2983548739.000              Black
14832           212        910L     2983548739.000              Black
14837           232         NaN     9701302538.000           Hispanic
14838           219       1050L     9701302538.000           Hispanic
14841           200         NaN     6136553429.000           Hispanic
14842           196        585L     6136553429.000           Hispanic
14871           216         NaN     2773014543.000           Hispanic
14872           214        950L     2773014543.000           Hispanic
14895           213         NaN     2912131330.000              Black
14896           207        805L     2912131330.000              Black
14901           206         NaN     8634405137.000              Black
14902           196        585L     8634405137.000              Black
14909           217         NaN     3224073437.000           Hispanic
14910           191        485L     3224073437.000           Hispanic
14911           194         NaN     6896858008.000              Black
14912           214        950L     6896858008.000              Black

      StudentGender Grade  Year StudentID_is_numeric  first_year  last_year  \
12162             F     4  2018                  NaN        2018       2018
12163             F     4  2018                  NaN        2018       2018
12164             M     4  2018                  NaN        2018       2018
12165             M     4  2018                  NaN        2018       2018
13865             F     4  2018                  NaN        2018       2018
13866             F     4  2018                  NaN        2018       2018
13887             F     4  2018                  NaN        2018       2018
13888             F     4  2018                  NaN        2018       2018
14023             F     4  2018                  NaN        2018       2018
14024             F     4  2018                  NaN        2018       2018
14055             F     4  2018                  NaN        2018       2018
14056             F     4  2018                  NaN        2018       2018
14059             F     4  2018                  NaN        2018       2018
14060             F     4  2018                  NaN        2018       2018
14801             F     4  2018                  NaN        2018       2018
14802             F     4  2018                  NaN        2018       2018
14807             F     4  2018                  NaN        2018       2018
14808             F     4  2018                  NaN        2018       2018
14813             M     4  2018                  NaN        2018       2018
14814             M     4  2018                  NaN        2018       2018
14831             F     4  2018                  NaN        2018       2018
14832             F     4  2018                  NaN        2018       2018
14837             F     4  2018                  NaN        2018       2018
14838             F     4  2018                  NaN        2018       2018
14841             F     4  2018                  NaN        2018       2018
14842             F     4  2018                  NaN        2018       2018
14871             F     4  2018                  NaN        2018       2018
14872             F     4  2018                  NaN        2018       2018
14895             M     4  2018                  NaN        2018       2018
14896             M     4  2018                  NaN        2018       2018
14901             F     4  2018                  NaN        2018       2018
14902             F     4  2018                  NaN        2018       2018
14909             M     4  2018                  NaN        2018       2018
14910             M     4  2018                  NaN        2018       2018
14911             F     4  2018                  NaN        2018       2018
14912             F     4  2018                  NaN        2018       2018

       Duration
12162         1
12163         1
12164         1
12165         1
13865         1
13866         1
13887         1
13888         1
14023         1
14024         1
14055         1
14056         1
14059         1
14060         1
14801         1
14802         1
14807         1
14808         1
14813         1
14814         1
14831         1
14832         1
14837         1
14838         1
14841         1
14842         1
14871         1
14872         1
14895         1
14896         1
14901         1
14902         1
14909         1
14910         1
14911         1
14912         1

In [75]:
# Perform the t-test on Math TestRITScore
t_stat_math5, p_value_math5 = stats.ttest_ind(
    continuous_enrollment_cohort[continuous_enrollment_cohort['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    latest_joiners[latest_joiners['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    equal_var=False
)
# Print the results for Math test
print("T-statistic for Math:", t_stat_math5)
print("P-value for Math: {:.10f}".format(p_value_math5))

T-statistic for Math: -0.20782407650902063
P-value for Math: 0.8367365586

In [76]:
# Set display format to avoid scientific notation
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [56]:
math_scores = precovid[precovid['TestName'].str.contains("Math")]
reading_scores = precovid[precovid['TestName'].str.contains("Reading")]
import statsmodels.api as sm

# Function to model and summarize results
def model_score_improvement(df, test_type):
    # Assuming 'TestRITScore' is the score and 'Duration' is the enrollment duration
    X = df[['Duration']]  # Predictor
    X = sm.add_constant(X)  # Adds a constant term to the predictor
    y = df['TestRITScore']  # Response

    model = sm.OLS(y, X).fit()  # OLS regression
    print(f"Regression Results for {test_type} Test:")
    print(model.summary())

# Model for Math scores
model_score_improvement(math_scores, "Math")

# Model for Reading scores
model_score_improvement(reading_scores, "Reading")

Regression Results for Math Test:
                            OLS Regression Results
==============================================================================
Dep. Variable:           TestRITScore   R-squared:                       0.025
Model:                            OLS   Adj. R-squared:                  0.025
Method:                 Least Squares   F-statistic:                     187.6
Date:                Fri, 22 Mar 2024   Prob (F-statistic):           3.54e-42
Time:                        00:11:34   Log-Likelihood:                -33780.
No. Observations:                7193   AIC:                         6.756e+04
Df Residuals:                    7191   BIC:                         6.758e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        199.6444      0.883    226.020      0.000     197.913     201.376
Duration       3.1683      0.231     13.698      0.000       2.715       3.622
==============================================================================
Omnibus:                      191.572   Durbin-Watson:                   1.449
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              206.773
Skew:                          -0.415   Prob(JB):                     1.26e-45
Kurtosis:                       2.949   Cond. No.                         11.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Regression Results for Reading Test:
                            OLS Regression Results
==============================================================================
Dep. Variable:           TestRITScore   R-squared:                       0.032
Model:                            OLS   Adj. R-squared:                  0.032
Method:                 Least Squares   F-statistic:                     243.5
Date:                Fri, 22 Mar 2024   Prob (F-statistic):           5.08e-54
Time:                        00:11:34   Log-Likelihood:                -33286.
No. Observations:                7254   AIC:                         6.658e+04
Df Residuals:                    7252   BIC:                         6.659e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        191.0132      0.791    241.608      0.000     189.463     192.563
Duration       3.2267      0.207     15.605      0.000       2.821       3.632
==============================================================================
Omnibus:                      380.095   Durbin-Watson:                   1.375
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              415.883
Skew:                          -0.564   Prob(JB):                     4.92e-91
Kurtosis:                       2.681   Cond. No.                         11.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [77]:
from sklearn.preprocessing import PolynomialFeatures

# Function to perform polynomial regression
def polynomial_regression(df, test_type):
    X = df[['Duration']]  # Predictor
    y = df['TestRITScore']  # Response

    # Transforming data to include polynomial terms
    poly = PolynomialFeatures(degree=2)  # You can change the degree
    X_poly = poly.fit_transform(X)

    model = sm.OLS(y, sm.add_constant(X_poly)).fit()
    print(f"Polynomial Regression Results for {test_type} Test:")
    print(model.summary())

# Perform polynomial regression for Math scores
polynomial_regression(math_scores, "Math")

# Perform polynomial regression for Reading scores
polynomial_regression(reading_scores, "Reading")

Polynomial Regression Results for Math Test:
                            OLS Regression Results
==============================================================================
Dep. Variable:           TestRITScore   R-squared:                       0.026
Model:                            OLS   Adj. R-squared:                  0.026
Method:                 Least Squares   F-statistic:                     97.44
Date:                Fri, 22 Mar 2024   Prob (F-statistic):           1.75e-42
Time:                        00:21:59   Log-Likelihood:                -33776.
No. Observations:                7193   AIC:                         6.756e+04
Df Residuals:                    7190   BIC:                         6.758e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        195.1444      1.905    102.416      0.000     191.409     198.880
x1             6.5672      1.296      5.067      0.000       4.026       9.108
x2            -0.5239      0.197     -2.665      0.008      -0.909      -0.139
==============================================================================
Omnibus:                      196.258   Durbin-Watson:                   1.448
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              212.319
Skew:                          -0.421   Prob(JB):                     7.86e-47
Kurtosis:                       2.969   Cond. No.                         128.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Polynomial Regression Results for Reading Test:
                            OLS Regression Results
==============================================================================
Dep. Variable:           TestRITScore   R-squared:                       0.033
Model:                            OLS   Adj. R-squared:                  0.033
Method:                 Least Squares   F-statistic:                     123.6
Date:                Fri, 22 Mar 2024   Prob (F-statistic):           1.66e-53
Time:                        00:21:59   Log-Likelihood:                -33284.
No. Observations:                7254   AIC:                         6.657e+04
Df Residuals:                    7251   BIC:                         6.660e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        188.1524      1.705    110.372      0.000     184.811     191.494
x1             5.3877      1.159      4.647      0.000       3.115       7.661
x2            -0.3330      0.176     -1.894      0.058      -0.678       0.012
==============================================================================
Omnibus:                      380.379   Durbin-Watson:                   1.375
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              418.274
Skew:                          -0.567   Prob(JB):                     1.49e-91
Kurtosis:                       2.690   Cond. No.                         128.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [78]:
import statsmodels.api as sm
from patsy import dmatrices
grades_of_interest = ['2', '3', '4', '5']
precovid_filtered = precovid[precovid['Grade'].isin(grades_of_interest)]
precovid_filtered_reading = precovid_filtered[precovid_filtered['TestName'].str.contains("Reading")]
# Prepare the data by creating dummy variables
precovid_filtered_reading['Race'] = precovid_filtered_reading['StudentEthnicGroup'].astype('category')
precovid_filtered_reading['Grade'] = precovid_filtered_reading['Grade'].astype('category')

<ipython-input-78-ddafad7282db>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precovid_filtered_reading['Race'] = precovid_filtered_reading['StudentEthnicGroup'].astype('category')
<ipython-input-78-ddafad7282db>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precovid_filtered_reading['Grade'] = precovid_filtered_reading['Grade'].astype('category')

In [79]:
print(precovid_filtered_reading.shape)

(2377, 15)

In [80]:
import statsmodels.formula.api as smf
from patsy import Treatment

# Update the model fitting code
formula = 'TestRITScore ~ Duration + Grade + Race'

# Fit the model
model = smf.mixedlm(formula, data=precovid_filtered_reading, groups=precovid_filtered_reading['StudentID']).fit()

# Print the summary of the model
print(model.summary())

            Mixed Linear Model Regression Results
==============================================================
Model:              MixedLM  Dependent Variable:  TestRITScore
No. Observations:   2377     Method:              REML
No. Groups:         1111     Scale:               63.4351
Min. group size:    1        Log-Likelihood:      -9201.0401
Max. group size:    6        Converged:           Yes
Mean group size:    2.1
--------------------------------------------------------------
                  Coef.  Std.Err.   z    P>|z|  [0.025  0.975]
--------------------------------------------------------------
Intercept        188.383    9.594 19.635 0.000 169.579 207.187
Grade[T.3]         6.266    0.506 12.393 0.000   5.275   7.257
Grade[T.4]        16.660    0.547 30.452 0.000  15.588  17.733
Grade[T.5]        21.704    0.581 37.363 0.000  20.566  22.843
Race[T.Asian]      5.886   10.284  0.572 0.567 -14.270  26.042
Race[T.Black]     -5.226    9.603 -0.544 0.586 -24.047  13.595
Race[T.Hispanic]  -6.027    9.601 -0.628 0.530 -24.844  12.791
Race[T.White]    -19.218   12.435 -1.546 0.122 -43.590   5.153
Duration           1.254    0.284  4.414 0.000   0.697   1.811
Group Var        137.051    1.275
==============================================================

In [61]:
grades_of_interest = ['2', '3', '4', '5']
precovid_filtered = precovid[precovid['Grade'].isin(grades_of_interest)]
precovid_filtered_math = precovid_filtered[precovid_filtered['TestName'].str.contains("Math")]
# Prepare the data by creating dummy variables
precovid_filtered_math['Race'] = precovid_filtered_math['StudentEthnicGroup'].astype('category')
precovid_filtered_math['Grade'] = precovid_filtered_math['Grade'].astype('category')
# Update the model fitting code
formula = 'TestRITScore ~ Duration + Grade + Race'

# Fit the model
model = smf.mixedlm(formula, data=precovid_filtered_math, groups=precovid_filtered_math['StudentID']).fit()

# Print the summary of the model
print(model.summary())

<ipython-input-61-62774333d37e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precovid_filtered_math['Race'] = precovid_filtered_math['StudentEthnicGroup'].astype('category')
<ipython-input-61-62774333d37e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precovid_filtered_math['Grade'] = precovid_filtered_math['Grade'].astype('category')

            Mixed Linear Model Regression Results
==============================================================
Model:              MixedLM  Dependent Variable:  TestRITScore
No. Observations:   2361     Method:              REML
No. Groups:         1113     Scale:               54.5158
Min. group size:    1        Log-Likelihood:      -9072.5380
Max. group size:    5        Converged:           Yes
Mean group size:    2.1
--------------------------------------------------------------
                  Coef.  Std.Err.   z    P>|z|  [0.025  0.975]
--------------------------------------------------------------
Intercept        182.675    9.761 18.714 0.000 163.543 201.807
Grade[T.3]         1.474    0.473  3.116 0.002   0.547   2.401
Grade[T.4]        13.379    0.513 26.054 0.000  12.372  14.385
Grade[T.5]        20.967    0.548 38.236 0.000  19.893  22.042
Race[T.Asian]     22.631   10.466  2.162 0.031   2.118  43.145
Race[T.Black]      9.028    9.771  0.924 0.356 -10.122  28.178
Race[T.Hispanic]  10.948    9.769  1.121 0.262  -8.198  30.095
Race[T.White]     -9.285   12.639 -0.735 0.463 -34.057  15.488
Duration           1.115    0.289  3.861 0.000   0.549   1.682
Group Var        149.824    1.451
==============================================================

# Adding in 20-23

In [302]:
file_path = '/content/drive/My Drive/assessments202021.csv'
data= pd.read_csv(file_path)
columns_to_keep = ['StudentID', 'Student_StateID', 'TestName','TestRITScore','LexileScore']
score2021= data[columns_to_keep]
score2021['Year'] = 2020
score2021.head()

<ipython-input-302-717023de2b00>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score2021['Year'] = 2020

,StudentID,Student_StateID,TestName,TestRITScore,LexileScore,Year
0,1001,9784372138,Growth: Math 6+ NJ 2016,190,NaN,2020
1,1001,9784372138,Growth: Math 6+ NJ 2016,202,NaN,2020
2,1001,9784372138,Growth: Reading 6+ NJ 2016 V2,203,750L,2020
3,1002,1591820143,Growth: Math 6+ NJ 2016,230,NaN,2020
4,1002,1591820143,Growth: Reading 6+ NJ 2016 V2,224,1150L,2020

In [303]:
file_path = '/content/drive/My Drive/assessments202122.csv'
data= pd.read_csv(file_path)
columns_to_keep = ['StudentID', 'Student_StateID', 'TestName','TestRITScore','LexileScore']
score2122= data[columns_to_keep]
score2122['Year'] = 2021
score2122.head()

<ipython-input-303-0c373dee1282>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score2122['Year'] = 2021

,StudentID,Student_StateID,TestName,TestRITScore,LexileScore,Year
0,1001,9784372138,Growth: Math 6+ NJ 2016,202,NaN,2021
1,1001,9784372138,Growth: Reading 6+ NJ 2016 V2,190,495L,2021
2,1002,1591820143,Growth: Math 6+ NJ 2016,233,NaN,2021
3,1002,1591820143,Growth: Reading 6+ NJ 2016 V2,224,1150L,2021
4,1003,7816959131,Growth: Math 6+ NJ 2016,201,NaN,2021

In [304]:
file_path = '/content/drive/My Drive/assessments202223.csv'
data= pd.read_csv(file_path)
columns_to_keep = ['StudentID', 'Student_StateID', 'TestName','TestRITScore','LexileScore']
score2223= data[columns_to_keep]
score2223['Year'] = 2022
score2223.head()

<ipython-input-304-d12ed5a68916>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score2223['Year'] = 2022

,StudentID,Student_StateID,TestName,TestRITScore,LexileScore,Year
0,1001,9784372138,Growth: Math 6+ NJ 2016,204,NaN,2022
1,1001,9784372138,Growth: Reading 6+ NJ 2016 V2,204,765L,2022
2,1002,1591820143,Growth: Math 6+ NJ 2016,235,NaN,2022
3,1002,1591820143,Growth: Reading 6+ NJ 2016 V2,211,900L,2022
4,1003,7816959131,Growth: Math 6+ NJ 2016,211,NaN,2022

In [305]:
all = pd.concat([merged14, merged15, merged16, merged17, merged18, score2021,score2122,score2223], ignore_index = True)
YearEnrolled2 = all.groupby('StudentID')['Year'].agg(['min', 'max'])
YearEnrolled2.rename(columns={'min': 'first_year', 'max': 'last_year'}, inplace=True)

In [306]:
all = all.merge(YearEnrolled2, on='StudentID', how='left')
all['Duration'] = all['last_year'] - all['first_year']

In [307]:
all['Duration'] = all['Duration'] + 1
print(all.head())

   StudentID  Student_StateID_x                       TestName  TestRITScore  \
0       1002     1591820143.000  Growth: Math K-2 CCSS 2010 V2           170
1       1002     1591820143.000  Growth: Reading K-2 CCSS 2010           169
2       1003     7816959131.000  Growth: Math K-2 CCSS 2010 V2           154
3       1003     7816959131.000  Growth: Reading K-2 CCSS 2010           157
4       1008     4297133420.000  Growth: Math K-2 CCSS 2010 V2           157

  LexileScore  Student_StateID_y StudentEthnicGroup StudentGender Grade  Year  \
0         NaN     1591820143.000           Hispanic             M    KF  2014
1          BR     1591820143.000           Hispanic             M    KF  2014
2         NaN     7816959131.000              Black             M    KF  2014
3          BR     7816959131.000              Black             M    KF  2014
4         NaN     4297133420.000           Hispanic             M    KF  2014

  StudentID_is_numeric  Student_StateID  first_year  last_year  Duration
0                 True              NaN        2014       2022         9
1                 True              NaN        2014       2022         9
2                 True              NaN        2014       2022         9
3                 True              NaN        2014       2022         9
4                 True              NaN        2014       2022         9

In [308]:
outcome2022 = all[all['Year'] == 2022]

In [309]:
file_path = '/content/drive/My Drive/enrollment202223.csv'
data= pd.read_csv(file_path)
columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']
enrollment2223= data[columns_to_keep]

In [310]:

outcome2022 = outcome2022.merge(enrollment2223, on='StudentID', how='right')

<ipython-input-310-b854d2e779e0>:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Student_StateID_x'} in the result is deprecated and will raise a MergeError in a future version.
  outcome2022 = outcome2022.merge(enrollment2223, on='StudentID', how='right')

In [311]:
outcome2022.head()

,StudentID,Student_StateID_x,TestName,TestRITScore,LexileScore,Student_StateID_y,StudentEthnicGroup_x,StudentGender_x,Grade_x,Year,StudentID_is_numeric,Student_StateID_x,first_year,last_year,Duration,Student_StateID_y,StudentEthnicGroup_y,StudentGender_y,Grade_y
0,1346,NaN,Growth: Math 6+ NJ 2016,221.000,NaN,NaN,NaN,NaN,NaN,2022.000,NaN,2518046055.000,2020.000,2022.000,3.000,2518046055,Black,F,12
1,1347,NaN,Growth: Math 6+ NJ 2016,237.000,NaN,NaN,NaN,NaN,NaN,2022.000,NaN,8856268182.000,2016.000,2022.000,7.000,8856268182,Black,M,12
2,1347,NaN,Growth: Reading 6+ NJ 2016 V2,208.000,845L,NaN,NaN,NaN,NaN,2022.000,NaN,8856268182.000,2016.000,2022.000,7.000,8856268182,Black,M,12
3,1348,NaN,Growth: Math 6+ NJ 2016,223.000,NaN,NaN,NaN,NaN,NaN,2022.000,NaN,5801895308.000,2016.000,2022.000,7.000,5801895308,Black,F,12
4,1348,NaN,Growth: Reading 6+ NJ 2016 V2,219.000,1055L,NaN,NaN,NaN,NaN,2022.000,NaN,5801895308.000,2016.000,2022.000,7.000,5801895308,Black,F,12

In [312]:
# Filter the main DataFrame for the year 2022-2023

continuous_enrollment_cohort_all = outcome2022[(outcome2022['Duration'] == 9) & (outcome2022['last_year']== 2022)  & (outcome2022['Grade_y'] == '8') ]

In [313]:
# Late Joiners (joined later but reached Grade 8 in 2022)
late_joiners_all = outcome2022[(outcome2022['Duration'] < 9) & (outcome2022['last_year'] == 2022)& (outcome2022['Grade_y'] == '8') ]

In [314]:
continuous_enrollment_cohort_all.head()

,StudentID,Student_StateID_x,TestName,TestRITScore,LexileScore,Student_StateID_y,StudentEthnicGroup_x,StudentGender_x,Grade_x,Year,StudentID_is_numeric,Student_StateID_x,first_year,last_year,Duration,Student_StateID_y,StudentEthnicGroup_y,StudentGender_y,Grade_y
1360,1002,NaN,Growth: Math 6+ NJ 2016,235.000,NaN,NaN,NaN,NaN,NaN,2022.000,NaN,1591820143.000,2014.000,2022.000,9.000,1591820143,Hispanic,M,8
1361,1002,NaN,Growth: Reading 6+ NJ 2016 V2,211.000,900L,NaN,NaN,NaN,NaN,2022.000,NaN,1591820143.000,2014.000,2022.000,9.000,1591820143,Hispanic,M,8
1362,1003,NaN,Growth: Math 6+ NJ 2016,211.000,NaN,NaN,NaN,NaN,NaN,2022.000,NaN,7816959131.000,2014.000,2022.000,9.000,7816959131,Black,M,8
1371,1008,NaN,Growth: Math 6+ NJ 2016,228.000,NaN,NaN,NaN,NaN,NaN,2022.000,NaN,4297133420.000,2014.000,2022.000,9.000,4297133420,Hispanic,M,8
1372,1008,NaN,Growth: Reading 6+ NJ 2016 V2,210.000,880L,NaN,NaN,NaN,NaN,2022.000,NaN,4297133420.000,2014.000,2022.000,9.000,4297133420,Hispanic,M,8

In [315]:
unique_student_ids = late_joiners_all['StudentID'].nunique()
print("Number of unique Student IDs:", unique_student_ids)

Number of unique Student IDs: 71

In [316]:
unique_student_ids = continuous_enrollment_cohort_all['StudentID'].nunique()
print("Number of unique Student IDs:", unique_student_ids)

Number of unique Student IDs: 47

In [317]:
from scipy import stats
import numpy as np

# Your original t-test code for the Math test scores
t_stat_math, p_value_math = stats.ttest_ind(
    continuous_enrollment_cohort_all[continuous_enrollment_cohort_all['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    late_joiners_all[late_joiners_all['TestName'].str.contains("Math")]['TestRITScore'].dropna(),
    equal_var=False
)

# Calculate degrees of freedom for Welch's t-test
math_scores_continuous_all = continuous_enrollment_cohort_all[continuous_enrollment_cohort_all['TestName'].str.contains("Math")]['TestRITScore'].dropna()
math_scores_late_all = late_joiners_all[late_joiners_all['TestName'].str.contains("Math")]['TestRITScore'].dropna()

v1 = math_scores_continuous_all.var(ddof=1)
v2 = math_scores_late_all.var(ddof=1)
n1 = len(math_scores_continuous_all)
n2 = len(math_scores_late_all)
df = ((v1/n1 + v2/n2)**2) / ((v1/n1)**2 / (n1-1) + (v2/n2)**2 / (n2-1))

# Print the t-statistic, p-value, and degrees of freedom
print("T-statistic for Math:", t_stat_math)
print("P-value for Math: {:.10f}".format(p_value_math))
print("Degrees of freedom (df): {:.2f}".format(df))

# Descriptive statistics (means and variances)
mean_continuous = np.mean(math_scores_continuous_all)
mean_late = np.mean(math_scores_late_all)
variance_continuous = np.var(math_scores_continuous_all, ddof=1)
variance_late = np.var(math_scores_late_all, ddof=1)

# Print descriptives and variances
print(f"Mean for continuous enrollment cohort: {mean_continuous}")
print(f"Mean for late joiners: {mean_late}")
print(f"Variance for continuous enrollment cohort: {variance_continuous}")
print(f"Variance for late joiners: {variance_late}")
print(f"Mean difference: {mean_continuous - mean_late}")

T-statistic for Math: 0.817696470721801
P-value for Math: 0.4156395067
Degrees of freedom (df): 92.16
Mean for continuous enrollment cohort: 221.54347826086956
Mean for late joiners: 219.02898550724638
Variance for continuous enrollment cohort: 274.475845410628
Variance for late joiners: 240.7638533674339
Mean difference: 2.5144927536231876

In [318]:
t_stat_reading, p_value_reading = stats.ttest_ind(
    continuous_enrollment_cohort_all[continuous_enrollment_cohort_all['TestName'].str.contains("Reading")]['TestRITScore'].dropna(),
    late_joiners_all[late_joiners_all['TestName'].str.contains("Reading")]['TestRITScore'].dropna(),
    equal_var=False
)

# Calculate degrees of freedom for Welch's t-test
reading_scores_continuous_all = continuous_enrollment_cohort_all[continuous_enrollment_cohort_all['TestName'].str.contains("Reading")]['TestRITScore'].dropna()
reading_scores_late_all = late_joiners_all[late_joiners_all['TestName'].str.contains("Reading")]['TestRITScore'].dropna()

v1 = reading_scores_continuous_all.var(ddof=1)
v2 = reading_scores_late_all.var(ddof=1)
n1 = len(reading_scores_continuous_all)
n2 = len(reading_scores_late_all)
df = ((v1/n1 + v2/n2)**2) / ((v1/n1)**2 / (n1-1) + (v2/n2)**2 / (n2-1))

# Print the t-statistic, p-value, and degrees of freedom
print("T-statistic for Reading:", t_stat_reading)
print("P-value for Reading: {:.10f}".format(p_value_reading))
print("Degrees of freedom (df): {:.2f}".format(df))

# Descriptive statistics (means and variances)
mean_continuous_all = np.mean(reading_scores_continuous_all)
mean_late_all = np.mean(reading_scores_late_all)
variance_continuous_all = np.var(reading_scores_continuous_all, ddof=1)
variance_late_all = np.var(reading_scores_late_all, ddof=1)

# Print descriptives and variances
print(f"Mean for continuous enrollment cohort: {mean_continuous_all}")
print(f"Mean for late joiners: {mean_late_all}")
print(f"Variance for continuous enrollment cohort: {variance_continuous_all}")
print(f"Variance for late joiners: {variance_late_all}")
print(f"Mean difference: {mean_continuous_all - mean_late_all}")

T-statistic for Reading: 0.9057048534566837
P-value for Reading: 0.3675875184
Degrees of freedom (df): 87.21
Mean for continuous enrollment cohort: 215.27906976744185
Mean for late joiners: 212.8923076923077
Variance for continuous enrollment cohort: 186.11074197120712
Variance for late joiners: 170.06634615384618
Mean difference: 2.3867620751341576

In [319]:
math_scores2 = all[all['TestName'].str.contains("Math")]
reading_scores2 = all[all['TestName'].str.contains("Reading")]
import statsmodels.api as sm

# Function to model and summarize results
def model_score_improvement(df, test_type):
    # Assuming 'TestRITScore' is the score and 'Duration' is the enrollment duration
    X = df[['Duration']]  # Predictor
    X = sm.add_constant(X)  # Adds a constant term to the predictor
    y = df['TestRITScore']  # Response

    model = sm.OLS(y, X).fit()  # OLS regression
    print(f"Regression Results for {test_type} Test:")
    print(model.summary())

# Model for Math scores
model_score_improvement(math_scores2, "Math")
# Model for Reading scores
model_score_improvement(reading_scores2, "Reading")

Regression Results for Math Test:
                            OLS Regression Results
==============================================================================
Dep. Variable:           TestRITScore   R-squared:                       0.015
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     174.8
Date:                Fri, 22 Mar 2024   Prob (F-statistic):           1.31e-39
Time:                        01:26:20   Log-Likelihood:                -53982.
No. Observations:               11478   AIC:                         1.080e+05
Df Residuals:                   11476   BIC:                         1.080e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        201.7116      0.532    379.172      0.000     200.669     202.754
Duration       1.2691      0.096     13.220      0.000       1.081       1.457
==============================================================================
Omnibus:                      194.389   Durbin-Watson:                   1.284
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              198.037
Skew:                          -0.307   Prob(JB):                     9.93e-44
Kurtosis:                       2.804   Cond. No.                         12.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Regression Results for Reading Test:
                            OLS Regression Results
==============================================================================
Dep. Variable:           TestRITScore   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     245.8
Date:                Fri, 22 Mar 2024   Prob (F-statistic):           7.97e-55
Time:                        01:26:20   Log-Likelihood:                -53455.
No. Observations:               11558   AIC:                         1.069e+05
Df Residuals:                   11556   BIC:                         1.069e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        193.3270      0.490    394.252      0.000     192.366     194.288
Duration       1.3877      0.089     15.677      0.000       1.214       1.561
==============================================================================
Omnibus:                      625.664   Durbin-Watson:                   1.229
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              581.822
Skew:                          -0.493   Prob(JB):                    4.56e-127
Kurtosis:                       2.513   Cond. No.                         12.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

now perform regression on the 14-22 data without matching year-grade...but before I can do that I need to have 'grade'column for every year TAT so gotta merge 20-21,21-22,22-23 scores with enrollment and concatenate all years once again

In [320]:
file_path = '/content/drive/My Drive/enrollment202021.csv'

data= pd.read_csv(file_path)

columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']
# new DataFrame with only these columns
enrollment2021= data[columns_to_keep]

# Merge on 'StudentID' with an indicator
merged_df = pd.merge(score2021, enrollment2021, on='StudentID', how='inner', indicator=True)

merged20 = merged_df[merged_df['_merge'] == 'both']

merged20.drop(columns=['_merge'], inplace=True)

print(merged20)

      StudentID  Student_StateID_x                       TestName  \
0          1001         9784372138        Growth: Math 6+ NJ 2016
1          1001         9784372138        Growth: Math 6+ NJ 2016
2          1001         9784372138  Growth: Reading 6+ NJ 2016 V2
3          1002         1591820143        Growth: Math 6+ NJ 2016
4          1002         1591820143  Growth: Reading 6+ NJ 2016 V2
...         ...                ...                            ...
2709        997         3224073437  Growth: Reading 6+ NJ 2016 V2
2710        998         8516994143        Growth: Math 6+ NJ 2016
2711        998         8516994143  Growth: Reading 6+ NJ 2016 V2
2712        999         6896858008        Growth: Math 6+ NJ 2016
2713        999         6896858008  Growth: Reading 6+ NJ 2016 V2

      TestRITScore LexileScore  Year  Student_StateID_y StudentEthnicGroup  \
0              190         NaN  2020         9784372138              Black
1              202         NaN  2020         9784372138              Black
2              203        750L  2020         9784372138              Black
3              230         NaN  2020         1591820143           Hispanic
4              224       1150L  2020         1591820143           Hispanic
...            ...         ...   ...                ...                ...
2709           206        805L  2020         3224073437           Hispanic
2710           218         NaN  2020         8516994143              White
2711           213        940L  2020         8516994143              White
2712           201         NaN  2020         6896858008              Black
2713           218       1035L  2020         6896858008              Black

     StudentGender Grade
0                M     6
1                M     6
2                M     6
3                M     6
4                M     6
...            ...   ...
2709             M     6
2710             F     6
2711             F     6
2712             F     6
2713             F     6

[2714 rows x 10 columns]

In [321]:
file_path = '/content/drive/My Drive/enrollment202122.csv'

data= pd.read_csv(file_path)

columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']
# new DataFrame with only these columns
enrollment2122= data[columns_to_keep]

# Merge on 'StudentID' with an indicator
merged_df = pd.merge(score2122, enrollment2122, on='StudentID', how='inner', indicator=True)

merged21 = merged_df[merged_df['_merge'] == 'both']

merged21.drop(columns=['_merge'], inplace=True)

print(merged21)

      StudentID  Student_StateID_x                       TestName  \
0          1001         9784372138        Growth: Math 6+ NJ 2016
1          1001         9784372138  Growth: Reading 6+ NJ 2016 V2
2          1002         1591820143        Growth: Math 6+ NJ 2016
3          1002         1591820143  Growth: Reading 6+ NJ 2016 V2
4          1003         7816959131        Growth: Math 6+ NJ 2016
...         ...                ...                            ...
2870        997         3224073437  Growth: Reading 6+ NJ 2016 V2
2871        998         8516994143        Growth: Math 6+ NJ 2016
2872        998         8516994143  Growth: Reading 6+ NJ 2016 V2
2873        999         6896858008        Growth: Math 6+ NJ 2016
2874        999         6896858008  Growth: Reading 6+ NJ 2016 V2

      TestRITScore LexileScore  Year  Student_StateID_y StudentEthnicGroup  \
0              202         NaN  2021         9784372138              Black
1              190        495L  2021         9784372138              Black
2              233         NaN  2021         1591820143           Hispanic
3              224       1150L  2021         1591820143           Hispanic
4              201         NaN  2021         7816959131              Black
...            ...         ...   ...                ...                ...
2870           209        865L  2021         3224073437           Hispanic
2871           219         NaN  2021         8516994143              White
2872           215        980L  2021         8516994143              White
2873           206         NaN  2021         6896858008              Black
2874           217       1015L  2021         6896858008              Black

     StudentGender Grade
0                M     7
1                M     7
2                M     7
3                M     7
4                M     7
...            ...   ...
2870             M     7
2871             F     7
2872             F     7
2873             F     7
2874             F     7

[2875 rows x 10 columns]

In [322]:
file_path = '/content/drive/My Drive/enrollment202223.csv'

data= pd.read_csv(file_path)

columns_to_keep = ['StudentID', 'Student_StateID', 'StudentEthnicGroup','StudentGender','Grade']
# new DataFrame with only these columns
enrollment2223= data[columns_to_keep]

# Merge on 'StudentID' with an indicator
merged_df = pd.merge(score2223, enrollment2223, on='StudentID', how='inner', indicator=True)

merged22 = merged_df[merged_df['_merge'] == 'both']

merged22.drop(columns=['_merge'], inplace=True)

print(merged22)

      StudentID  Student_StateID_x                       TestName  \
0          1001         9784372138        Growth: Math 6+ NJ 2016
1          1001         9784372138  Growth: Reading 6+ NJ 2016 V2
2          1002         1591820143        Growth: Math 6+ NJ 2016
3          1002         1591820143  Growth: Reading 6+ NJ 2016 V2
4          1003         7816959131        Growth: Math 6+ NJ 2016
...         ...                ...                            ...
2995        997         3224073437  Growth: Reading 6+ NJ 2016 V2
2996        998         8516994143        Growth: Math 6+ NJ 2016
2997        998         8516994143  Growth: Reading 6+ NJ 2016 V2
2998        999         6896858008        Growth: Math 6+ NJ 2016
2999        999         6896858008  Growth: Reading 6+ NJ 2016 V2

      TestRITScore LexileScore  Year  Student_StateID_y  \
0              204         NaN  2022         9784372138
1              204        765L  2022         9784372138
2              235         NaN  2022         1591820143
3              211        900L  2022         1591820143
4              211         NaN  2022         7816959131
...            ...         ...   ...                ...
2995           211        900L  2022         3224073437
2996           226         NaN  2022         8516994143
2997           215        980L  2022         8516994143
2998           202         NaN  2022         6896858008
2999           218       1035L  2022         6896858008

          StudentEthnicGroup StudentGender Grade
0                      Black             M     8
1                      Black             M     8
2                   Hispanic             M     8
3                   Hispanic             M     8
4                      Black             M     8
...                      ...           ...   ...
2995                Hispanic             M     8
2996  Not Specified or Other             F     8
2997  Not Specified or Other             F     8
2998                   Black             F     8
2999                   Black             F     8

[3000 rows x 10 columns]

In [323]:
allwithgrade = pd.concat([merged14, merged15, merged16, merged17, merged18, merged20,merged21,merged22], ignore_index = True)
YearEnrolled3 = allwithgrade.groupby('StudentID')['Year'].agg(['min', 'max'])
YearEnrolled3.rename(columns={'min': 'first_year', 'max': 'last_year'}, inplace=True)
allwithgrade = allwithgrade.merge(YearEnrolled3, on='StudentID', how='left')
allwithgrade['Duration'] = allwithgrade['last_year'] - allwithgrade['first_year']
allwithgrade['Duration'] = allwithgrade['Duration'] + 1
print(all.head())

   StudentID  Student_StateID_x                       TestName  TestRITScore  \
0       1002     1591820143.000  Growth: Math K-2 CCSS 2010 V2           170
1       1002     1591820143.000  Growth: Reading K-2 CCSS 2010           169
2       1003     7816959131.000  Growth: Math K-2 CCSS 2010 V2           154
3       1003     7816959131.000  Growth: Reading K-2 CCSS 2010           157
4       1008     4297133420.000  Growth: Math K-2 CCSS 2010 V2           157

  LexileScore  Student_StateID_y StudentEthnicGroup StudentGender Grade  Year  \
0         NaN     1591820143.000           Hispanic             M    KF  2014
1          BR     1591820143.000           Hispanic             M    KF  2014
2         NaN     7816959131.000              Black             M    KF  2014
3          BR     7816959131.000              Black             M    KF  2014
4         NaN     4297133420.000           Hispanic             M    KF  2014

  StudentID_is_numeric  Student_StateID  first_year  last_year  Duration
0                 True              NaN        2014       2022         9
1                 True              NaN        2014       2022         9
2                 True              NaN        2014       2022         9
3                 True              NaN        2014       2022         9
4                 True              NaN        2014       2022         9

In [324]:
allwithgrade_unique_students = allwithgrade.drop_duplicates(subset='StudentID')

# Counting the number of occurrences of each race among unique students
race_counts = allwithgrade_unique_students['StudentEthnicGroup'].value_counts()

# Display the counts
print(race_counts)

Hispanic                             2130
Black                                1505
Asian                                  39
White                                   8
American Indian or Alaskan Native       3
Multi-ethnic                            2
Not Specified or Other                  2
Name: StudentEthnicGroup, dtype: int64

In [325]:
gender_counts = allwithgrade_unique_students['StudentGender'].value_counts()

# Display the counts
print(gender_counts)

F    1997
M    1692
Name: StudentGender, dtype: int64

In [327]:
import statsmodels.api as sm
from patsy import dmatrices
grades_of_interest = ['6', '7', '8', '9','10','11','12']
allwithgrade_filtered = allwithgrade[allwithgrade['Grade'].isin(grades_of_interest)]
allwithgrade_filtered_reading = allwithgrade_filtered[allwithgrade_filtered['TestName'].str.contains("Reading")]
# Prepare the data by creating dummy variables
allwithgrade_filtered_reading['Race'] = allwithgrade_filtered_reading['StudentEthnicGroup'].astype('category')
allwithgrade_filtered_reading['Grade'] = allwithgrade_filtered_reading['Grade'].astype('category')

print(allwithgrade_filtered_reading.shape)

(5785, 15)

<ipython-input-327-fa55140dac63>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allwithgrade_filtered_reading['Race'] = allwithgrade_filtered_reading['StudentEthnicGroup'].astype('category')
<ipython-input-327-fa55140dac63>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allwithgrade_filtered_reading['Grade'] = allwithgrade_filtered_reading['Grade'].astype('category')

In [328]:
import statsmodels.api as sm
from patsy import dmatrices

grades_of_interest = ['6', '7', '8', '9', '10', '11', '12']
allwithgrade_filtered = allwithgrade[allwithgrade['Grade'].isin(grades_of_interest)]
allwithgrade_filtered_reading = allwithgrade_filtered[allwithgrade_filtered['TestName'].str.contains("Reading")]

# Convert and order your 'Race' and 'Grade' categories here
# Specify your desired baseline category and the order of other categories
allwithgrade_filtered_reading['Race'] = pd.Categorical(allwithgrade_filtered_reading['StudentEthnicGroup'],
                                                       categories=['White', 'Black', 'Asian','Multi-ethnic','Hispanic','Not Specified or Other'],
                                                       ordered=True)


# Continue with your analysis
print(allwithgrade_filtered_reading.shape)

(5785, 15)

<ipython-input-328-3de355c16ab5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allwithgrade_filtered_reading['Race'] = pd.Categorical(allwithgrade_filtered_reading['StudentEthnicGroup'],

In [329]:
allwithgrade_filtered_reading.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5785 entries, 13 to 23501
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentID             5785 non-null   int64
 1   Student_StateID_x     4920 non-null   float64
 2   TestName              5785 non-null   object
 3   TestRITScore          5785 non-null   int64
 4   LexileScore           5707 non-null   object
 5   Student_StateID_y     4920 non-null   float64
 6   StudentEthnicGroup    5785 non-null   object
 7   StudentGender         5785 non-null   object
 8   Grade                 5785 non-null   object
 9   Year                  5785 non-null   int64
 10  StudentID_is_numeric  642 non-null    object
 11  first_year            5785 non-null   int64
 12  last_year             5785 non-null   int64
 13  Duration              5785 non-null   int64
 14  Race                  5783 non-null   category
dtypes: category(1), float64(2), int64(6), object(6)
memory usage: 683.8+ KB

In [ ]:
allwithgrade_filtered_reading = allwithgrade_filtered_reading.dropna(subset=['Race'])

import statsmodels.formula.api as smf
from patsy import Treatment

# Update the model fitting code
formula = 'TestRITScore ~ Duration + Race + Grade'


# Fit the model
model = smf.mixedlm(formula, data=allwithgrade_filtered_reading, groups=allwithgrade_filtered_reading['StudentID']).fit()

# Print the summary of the model
print(model.summary())

In [ ]:
grades_of_interest = ['6', '7', '8', '9','10','11','12']
allwithgrade_filtered = allwithgrade[allwithgrade['Grade'].isin(grades_of_interest)]
allwithgrade_filtered_math = allwithgrade_filtered[allwithgrade_filtered['TestName'].str.contains("Math")]
# Prepare the data by creating dummy variables
allwithgrade_filtered_math['Race'] = allwithgrade_filtered_math['StudentEthnicGroup'].astype('category')
allwithgrade_filtered_math['Grade'] = allwithgrade_filtered_math['Grade'].astype('category')
print(allwithgrade_filtered_math.shape)

In [ ]:
import statsmodels.formula.api as smf

# Assuming 'formula' is your model formula, e.g., 'TestRITScore ~ StudyTime + AnotherPredictor'
# and 'allwithgrade_filtered_math' is your DataFrame.
# This specifies random intercepts and slopes for 'StudyTime' by 'StudentID'.
model = smf.mixedlm("TestRITScore ~ Duration",
                    data=allwithgrade_filtered_math,
                    groups=allwithgrade_filtered_math['StudentID'],
                    re_formula="~Duration").fit()

print(model.summary())

In [ ]:
# Update the model fitting code
formula = 'TestRITScore ~ Duration + Race + Grade'

# Fit the model
model = smf.mixedlm(formula, data=allwithgrade_filtered_math, groups=allwithgrade_filtered_math['StudentID']).fit()

# Print the summary of the model
print(model.summary())